<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--检验详情xml-->
<mapper namespace="cn.gson.his.model.mappers.Outpatient.ChangepartMapper">
    <resultMap id="allChangepart" type="cn.gson.his.model.pojos.Outpatient.ChangepartEntity">
        <id property="changepartNo" column="CHANGEPART_NO"/>
        <result property="changetestNo" column="CHANGETEST_NO"/>
        <result property="checkoutResult" column="CHECKOUT_RESULT"/>
        <association property="checkoutEntity" javaType="cn.gson.his.model.pojos.Outpatient.CheckoutEntity">
            <id property="checkoutNo" column="CHECKOUT_NO"></id>
            <result property="checkoutId" column="CHECKOUT_ID"></result>
            <result property="checkoutCribe" column="CHECKOUT_CRIBE"></result>
            <result property="checkoutPrice" column="CHECKOUT_PRICE"></result>
            <result property="checkoutState" column="CHECKOUT_STATE"></result>
        </association>
    </resultMap>
<!--    新增检验详情-->
    <insert id="addChangepart">
        insert  into CHANGEPART values (seq.nextval,#{changetestNo},#{checkoutNo},#{checkoutResult},#{checkoutStata},#{changetestPrice})
    </insert>
<!--    查询-->
    <select id="seleChangepart" resultMap="allChangepart">
        select * from  CHANGEPART C inner join CHECKOUT C2 on C.CHECKOUT_NO = C2.CHECKOUT_NO
        where CHECKOUT_ID = #{checkoutId}
    </select>
        <resultMap id="allChangepartJF" type="cn.gson.his.model.pojos.Outpatient.ChangepartEntity">
            <id property="changepartNo" column="CHANGEPART_NO"/>
            <result property="changetestNo" column="CHANGETEST_NO"/>
            <result property="checkoutResult" column="CHECKOUT_RESULT"/>
            <result property="changetestStata" column="CHANGEPART_STATE"/>
            <association property="checkoutEntity" javaType="cn.gson.his.model.pojos.Outpatient.CheckoutEntity">
                <id property="checkoutNo" column="CHECKOUT_NO"></id>
                <result property="checkoutId" column="CHECKOUT_ID"></result>
                <result property="checkoutCribe" column="CHECKOUT_CRIBE"></result>
                <result property="checkoutPrice" column="CHECKOUT_PRICE"></result>
                <result property="checkoutState" column="CHECKOUT_STATE"></result>
                <result property="changetestPrice" column="CHANGEPART_PRICE"></result>
            </association>
            <association property="testsEntity" javaType="cn.gson.his.model.pojos.Checkout.TestsEntity">
                <id property="testId" column="Test_id"></id>
                <result property="testName" column="Test_name"></result>
                <!--项目详情-->
                <collection property="details" ofType="cn.gson.his.model.pojos.Checkout.TestDetailsEntity">
                    <id property="detailsId" column="Details_id"></id>
                    <result property="detailsSymbol" column="Details_Symbol"></result>
                    <result property="detailsName" column="Details_name"></result>
                    <result property="detailsCompany" column="Details_Company"></result>
                    <result property="detailsValues" column="Details_values"></result>
                    <result property="detailsPrice" column="Details_price"></result>
                    <result property="detailsShuoming" column="Details_shuoming"></result>
                </collection>
            </association>
        </resultMap>
<!--   查询缴完费的检验检查-->
    <select id="seleCheckJF" resultMap="allChangepartJF">
        SELECT * FROM CHECKOUT C
            INNER JOIN CHANGEPART C1  ON C.CHECKOUT_NO = C1.CHECKOUT_NO
            INNER JOIN TESTS T ON C1.CHANGETEST_NO = T.TEST_ID
            LEFT JOIN TEST_DETAILS T2 ON T.TEST_ID = T2.TEXT_ID where C.CHECKOUT_ID = #{checkoutId} and C.CHECKOUT_STATE = 1 AND C1.CHANGEPART_STATE = 0 or C.CHECKOUT_STATE = 2
    </select>
<!--    修改化验结果 -->
    <update id="upChangepart">
        update CHANGEPART C  set C.CHECKOUT_RESULT = #{result} where C.CHECKOUT_NO= (select C1.CHECKOUT_NO from CHECKOUT C1 where C1.CHECKOUT_ID = #{checkout} and C1.EXAMINE_STATE = 1)
    </update>
<!--    修改化验是否填写结果-->
    <update id="upChangepartJG">
        update CHANGEPART SET CHANGEPART_STATE = #{state} WHERE CHANGEPART_NO = #{changepartNo}
    </update>
<!--    查询填写结果的检查检验-->
    <select id="seleCheckJG" resultMap="allChangepartJF">
        SELECT * FROM CHECKOUT C
                INNER JOIN CHANGEPART C1  ON C.CHECKOUT_NO = C1.CHECKOUT_NO
                INNER JOIN TESTS T ON C1.CHANGETEST_NO = T.TEST_ID
                LEFT JOIN TEST_DETAILS T2 ON T.TEST_ID = T2.TEXT_ID where C.CHECKOUT_ID = #{checkoutId} and C.CHECKOUT_STATE = 1 AND C1.CHANGEPART_STATE = 1
    </select>
</mapper>