<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Outpatient.ExamineMapper">
    <resultMap id="allExamine" type="cn.gson.his.model.pojos.Outpatient.ExamineEntity">
        <id column="examineNo" property="EXAMINE_NO"/>
        <result column="record_id" property="CHECKOUT_ID"/>
        <result column="checklistNo" property="CHECKLIST_NO"/>
        <result column="examineDiagnose" property="EXAMINE_DIAGNOSE"/>
        <result column="examineMethod" property="EXAMINE_METHOD"/>
        <result column="examineLook" property="EXAMINE_LOOK"/>
        <result column="examineState" property="EXAMINE_STATE"/>
        <result column="examineDate" property="EXAMINE_DATE"/>
        <result column="examineDoctor" property="EXAMINE_DOCTOR"/>
        <result column="examineDoctorNo" property="EXAMINE_DOCTOR_NO"/>
    </resultMap>
<!--新增检查项目-->
    <insert id="addExamine">
        insert into EXAMINE values (SEQ.nextval,#{record_id,jdbcType=VARCHAR},#{checklistNo,jdbcType=NUMERIC},#{examineDiagnose,jdbcType=VARCHAR},#{examineMethod,jdbcType=VARCHAR},#{examineLook,jdbcType=NUMERIC},#{examineState,jdbcType=VARCHAR},SYSDATE,#{examineDoctor,jdbcType=VARCHAR},#{examineDoctorNo,jdbcType=NUMERIC})
    </insert>
<!--    查询检查项目-->
    <select id="allExamine" resultMap="allExamine">
        select  * from EXAMINE
        <where>
            <if test="record_id != null">
                CHECKOUT_ID = #{record_id}
            </if>
        </where>
    </select>
    <resultMap id="allExamineJF" type="cn.gson.his.model.pojos.Outpatient.ExamineEntity">
        <id property="examineNo" column="EXAMINE_NO"/>
        <result property="record_id" column="CHECKOUT_ID"/>
        <result property="checklistNo" column="CHECKLIST_NO"/>
        <result property="examineDiagnose" column="EXAMINE_DIAGNOSE"/>
        <result property="examineMethod" column="EXAMINE_METHOD"/>
        <result property="examineLook" column="EXAMINE_LOOK"/>
        <result property="examineState" column="EXAMINE_STATE"/>
        <result column="examineDate" property="EXAMINE_DATE"/>
        <result column="examineDoctor" property="EXAMINE_DOCTOR"/>
        <result column="examineDoctorNo" property="EXAMINE_DOCTOR_NO"/>
        <association property="testsEntity" javaType="cn.gson.his.model.pojos.Checkout.TestsEntity">
            <id property="testId" column="Test_id"></id>
            <result property="testName" column="Test_name"></result>
            <!--项目详情-->
            <collection property="details" ofType="cn.gson.his.model.pojos.Checkout.TestDetailsEntity">
                <id property="detailsId" column="Details_id"></id>
                <result property="detailsSymbol" column="Details_Symbol"></result>
                <result property="detailsName" column="Details_name"></result>
                <result property="detailsCompany" column="Details_Company"></result>
                <result property="detailsValues" column="Details_values"></result>
                <result property="detailsPrice" column="Details_price"></result>
                <result property="detailsShuoming" column="Details_shuoming"></result>
            </collection>
        </association>
    </resultMap>
    <select id="allExamineJF" resultMap="allExamineJF">
        select  * from EXAMINE E INNER JOIN TESTS T ON E.CHECKLIST_NO = T.TEST_ID LEFT JOIN TEST_DETAILS T2 ON T.TEST_ID = T2.TEXT_ID WHERE  E.CHECKOUT_ID = #{record_id} and E.EXAMINE_STATE = #{state}
    </select>
<!--    修改检查项目收费状态-->
    <update id="upExamine">
        update EXAMINE 
        <set>
            <if test="examineState !=null">
                EXAMINE_STATE = #{examineState}
            </if>
        </set>
        where CHECKOUT_ID = #{record_id}
    </update>
<!--    根据编号修改检查的状态为2就是结果出来了-->
    <update id="upExamineID">
        update EXAMINE
        <set>
            <if test="examineState !=null">
                EXAMINE_STATE = #{examineState}
            </if>
        </set>
        where EXAMINE_NO = #{examineNo}
    </update>
</mapper>