<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Outpatient.PatientMapper">
<!--患者资料的结果级映射resultMap -->
    <resultMap id="Patient" type="cn.gson.his.model.pojos.Outpatient.PatientdataEntity">
        <id column="PATIENT_NO" property="patientNo" ></id>
        <result column="PATIENT_NAME" property="patientName"/>
        <result column="PATIENT_SEX" property="patientSex"/>
        <result column="PATIENT_AGE" property="patientAge"/>
        <result column="PATIENT_PHONE" property="patientPhone"/>
        <result column="PATIENT_INSU" property="patientInsu"/>
        <result column="PATIENT_IDENTITY" property="patientIdentity"/>
        <result column="PATIENT_PIRTH" property="patientPirth"/>
    </resultMap>
<!--修改患者信息-->
    <update id="UpdatePatient">
        update patientData
--         根据值来修改
        <set>
            <if test="patientName !=null"> -- 名字
                 PATIENT_NAME = #{patientName},
            </if>
            <if test="patientSex !=null"> --性别
                 PATIENT_SEX = #{patientSex},
            </if>
            <if test="patientAge != 0"> -- 年龄
                 PATIENT_AGE = #{patientAge},
            </if>
            <if test="patientPhone !=null"> -- 电话号码
                 PATIENT_PHONE = #{patientPhone},
            </if>
            <if test="patientInsu !=null"> -- 社保
                 PATIENT_INSU = #{patientInsu},
            </if>
            <if test="patientIdentity !=null"> -- 身份证
                 PATIENT_IDENTITY = #{patientIdentity},
            </if>
            <if test="patientPirth !=null">-- 地址
                 PATIENT_PIRTH = #{patientPirth},
            </if>
        </set>
--      根据患者编号修改
        where PATIENT_NO = #{patientNo}
    </update>
<!--新增患者信息-->
    <insert id="AddPatient">
        insert into patientData
        values (seq.nextval,#{patientName},#{patientSex},#{patientAge},#{patientPhone},#{patientInsu},#{patientIdentity},#{patientPirth})
        <selectKey order="AFTER" keyProperty="patientNo" resultType="_int">
            select seq.currval from dual
        </selectKey>
    </insert>
    <!--    查询患者资料,多条件查询-->
    <select id="selePatient" resultMap="Patient">
        select * from PATIENTDATA
        <where>
            <if test="patientInsu !=''">
                or PATIENT_INSU = #{patientInsu}
            </if>
            <if test="patientSex !=''"> --性别
                or PATIENT_SEX = #{patientSex}
            </if>
            <if test="patientIdentity !=''">
                or PATIENT_IDENTITY = #{patientIdentity}
            </if>
            <if test="patientAge != null"> -- 年龄
                 PATIENT_AGE = #{patientAge}
            </if>
            <if test="patientName !=''">
                or PATIENT_NAME  like '%${patientName}%'
            </if>
            <if test="patientPhone !=''">
                or PATIENT_PHONE  like '%${patientPhone}%'
            </if>
            <if test="patientPirth !=''">
                or PATIENT_PIRTH  like '%${patientPirth}%'
            </if>
        </where>
        order by PATIENT_NO desc
    </select>

    <!--根据id删除病人信息表-->
    <delete id="delPatient">
        delete from PATIENTDATA where PATIENT_NO = #{patientNo}
    </delete>

    <!--根据身份证查病人资料表-->
    <select id="selID" resultMap="Patient">
        select * from PATIENTDATA where patient_identity = #{patientIdentity}
    </select>


</mapper>