<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Outpatient.PayPartMappers">

<!--    新增缴费详情-->
    <insert id="addPayPart">
        insert into PAYPART(PAYPART_NO,PAY_NO,DRUG_NAME,DRUG_QUANTITY,DRUG_PRICE) values (seq.nextval,#{payNo.payNo},#{drugName},#{drugQuantity},#{drugPrice})
    </insert>
</mapper>