<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Outpatient.TestResultMapper">




    <insert id="addTestResult">
        insert into TEST_RESULT values(seq.nextval,#{changepartNo},#{result},#{resultShow})
    </insert>

</mapper>