<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Outpatient.TextsMappper">

    <resultMap id="allTest" type="cn.gson.his.model.pojos.Checkout.TestsEntity">
        <id property="testId" column="Test_id"></id>
        <result property="testName" column="Test_name"></result>

        <!--类别-->
        <association property="type" javaType="cn.gson.his.model.pojos.Checkout.TestTypeEntity">
            <id property="typeId" column="Type_id"></id>
            <result property="typeName" column="Type_name"></result>
        </association>

        <!--科室-->
        <association property="keshi" javaType="cn.gson.his.model.pojos.Checkout.KeshiEntity">
            <result property="depaId" column="depa_id"></result>
            <result property="depaName" column="depa_name"></result>
        </association>

        <!--项目详情-->
        <collection property="details" ofType="cn.gson.his.model.pojos.Checkout.TestDetailsEntity">
            <id property="detailsId" column="Details_id"></id>
            <result property="detailsSymbol" column="Details_Symbol"></result>
            <result property="detailsName" column="Details_name"></result>
            <result property="detailsCompany" column="Details_Company"></result>
            <result property="detailsValues" column="Details_values"></result>
            <result property="detailsPrice" column="Details_price"></result>
            <result property="detailsShuoming" column="Details_shuoming"></result>
        </collection>
    </resultMap>
<!--查询所有项目-->
<select id="selectTest" resultMap="allTest">
    select * FROM TESTS T LEFT JOIN TEST_TYPE  T1 on T.TYPE_ID = T1.TYPE_ID
    LEFT JOIN TEST_DETAILS T2 ON T.TEST_ID = T2.TEXT_ID
    left join department on   T.DEPT_ID=department.DEPA_ID
    <where>
        <if test="typeName !=''">
                T1.TYPE_NAME = #{typeName}
        </if>
        <if test="jycx !='' and jycx != null ">
            and  (t.test_name like '%${jycx}%' or t1.type_name like '%${jycx}%' or t.test_id like '%${jycx}%'
            or t2.Details_price like '%${jycx}%' or t2.Details_shuoming like '%${jycx}%')
        </if>
    </where>
</select>

<!--    新增检验检查-->
<insert id="addTest">
    insert into tests values(seq.nextval,#{testName,jdbcType=VARCHAR},#{type.typeId,jdbcType=NUMERIC},#{keshi.depaId,jdbcType=NUMERIC})
    <selectKey order="AFTER" keyProperty="testId" resultType="_int">
        select seq.currval from dual
    </selectKey>
</insert>
<!-- 停用检查检验-->
<update id="upTestsDetails">
    update TEST_DETAILS set DETAILS_VALUES = #{state} where  TEXT_ID = #{test}
</update>
<!--    修改检查检验-->
    <update id="upTest">
        update  tests
        <set>
            <if test="testName !=null">
                TEST_NAME = #{testName},
            </if>
            <if test="type.typeId !=null">
                TYPE_ID = #{type.typeId},
            </if>
            <if test="keshi.depaId !=null">
                DEPT_ID  = #{keshi.depaId}
            </if>
        </set>
        where TEST_ID = #{testId}
    </update>
<!-- 修改详情-->
    <update id="upDetails">
        update TEST_DETAILS
        <set>
            <if test="detailsSymbol !=null">
                DETAILS_SYMBOL = #{detailsSymbol},
            </if>
            <if test="detailsName !=null">
                DETAILS_NAME = #{detailsName},
            </if>
            <if test="detailsCompany !=null">
                DETAILS_COMPANY =  #{detailsCompany},
            </if>
            <if test="detailsPrice !=null">
                DETAILS_PRICE = #{detailsPrice},
            </if>
            <if test="detailsShuoming !=null">
                DETAILS_SHUOMING = #{detailsShuoming}
            </if>
        </set>
        where DETAILS_ID = #{detailsId}
    </update>
<!--    新增详情-->
    <insert id="insertdetails">
        insert into test_details values(seq.nextval,#{detailsSymbol,jdbcType=VARCHAR},#{detailsName,jdbcType=VARCHAR},
                                        #{detailsCompany,jdbcType=VARCHAR},0,#{detailsPrice,jdbcType=NUMERIC},
                                        #{detailsShuoming,jdbcType=VARCHAR},#{testsId,jdbcType=NUMERIC})
    </insert>
</mapper>