<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.wjc.CardRecordMapper">
<!--    结果集映射-->
    <resultMap id="CardRecor" type="cn.gson.his.model.pojos.wjc.CardrecordEntity">
        <id column="RECORD_NO" property="recordNo"/>
        <result column="RECORD_PRICE" property="recordPrice"/>
        <result column="RECORD_DATE" property="recordDate"/>
        <result column="RECORD_NAME" property="recordName"/>
        <result column="RECORD_WAY" property="recordWay"/>
        <result column="COLLECT_PRICE" property="collectPrice"/>
<!--就诊卡充值记录里面的就诊卡信息多对一-->
        <association property="card" javaType="cn.gson.his.model.pojos.wjc.CardEntity">
            <id column="CARD_ID" property="cardId"/>
            <result column="CARD_NO" property="cardNo"/>
            <result column="CARD_PSWD" property="cardPswd"/>
            <result column="CARD_PRICE" property="cardPrice"/>
            <result column="CARD_PREPAY" property="cardPrepay"/>
            <result column="PATIENT_NAME" property="patientName"/>
            <result column="CARD_STATE" property="cardState"/>
        </association>
    </resultMap>
<!--    充值记录新增-->
    <insert id="addCardecord">
        insert into CARDRECORD values (seq.nextval,#{cardId},#{recordPrice},#{recordDate},#{recordName},#{recordWay},#{collectPrice})
    </insert>
<!--  充值记录模糊查询，充值时间查询  -->
    <select id="allCardRecord" resultMap="CardRecor">
        select * from CARDRECORD r inner join CARD c on r.CARD_ID = c.CARD_ID
        <where>
            <if test="card.cardNo != ''">
                c.CARD_NO like '%${card.cardNo}%'
            </if>
            <if test="recordDate != null    ">
                or RECORD_DATE = #{recordDate}
            </if>
        </where>
        order by RECORD_DATE  desc
    </select>
</mapper>