<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.lxj.EmployeeMapper">
        <resultMap id="EmpMap" type="cn.gson.his.model.pojos.lxj.Employee">
            <id property="empId" column="emp_id"></id>
            <result property="empName" column="emp_name"></result>
            <result property="empPhone" column="emp_phone"></result>
            <result property="empCard" column="emp_card"></result>
            <result property="empInduction" column="emp_induction"></result>
            <result property="empDeparture" column="emp_departure"></result>
            <result property="empState" column="emp_state"></result>
            <!--部门-->
            <association property="deptByEmpDept" javaType="cn.gson.his.model.pojos.lxj.Dept">
                <id property="deptId" column="dept_id"></id>
                <result property="deptName" column="dept_name"></result>
            </association>
            <!--科室-->
            <association property="departmentByEmpDepar" javaType="cn.gson.his.model.pojos.lxj.Department">
                <id property="depaId" column="depa_id"></id>
                <result property="depaName" column="depa_name"></result>
            </association>
            <!--职称-->
            <association property="titles" javaType="cn.gson.his.model.pojos.lxj.Title">
                <id property="titId" column="tit_id"></id>
                <result property="titName" column="tit_name"></result>
            </association>
        </resultMap>

        <!--查询住院部的医生-->
        <select id="selDoctor" resultMap="EmpMap">
            select * from employee e left join dept d on e.emp_dept = d.dept_id
            left join department de on e.emp_depar = de.depa_id
            left join title t on e.emp_tit = t.tit_id

            where e.emp_dept = 55  and e.emp_tit = 1 and e.emp_depar = #{depaId}

        </select>

</mapper>