<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.InHospital.BedMapper">
    <resultMap id="BedMap" type="cn.gson.his.model.pojos.InHospital.BedEntity">
        <id property="bedId" column="bed_id"></id>
        <result property="depaId" column="depa_id"></result>
        <result property="bedIs" column="bed_is"></result>
        <result property="bedCost" column="bed_cost"></result>

        <association property="department" javaType="cn.gson.his.model.pojos.Power.Department">
            <id property="depaId" column="depa_id"></id>
            <result property="depaName" column="depa_name"></result>
        </association>

    </resultMap>

    <!--查询所有床位-->
    <select id="selectBed" resultMap="BedMap">
        select * from bed b left join department d on b.depa_id = d.depa_id
        <where>
            <if test="screen != null  and screen != 3   " >
                and b.bed_is = #{screen}
            </if>
            <if test="content != '' ">
                and (b.bed_id like '%${content}%' or d.depa_name like '%${content}%' or b.bed_cost  like '%${content}%')
            </if>
        </where>

        order by b.bed_id desc
    </select>

    <!--新增床位-->
    <insert id="insertBed">
        insert into bed values(seq.nextval,#{depaId},0,#{bedCost})
    </insert>

    <!--修改床位-->
    <update id="updateBed">
        update bed set depa_id=#{depaId},bed_is=#{bedIs},bed_cost=#{bedCost} where bed_id=#{bedId}
    </update>


</mapper>