<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.InHospital.BedMapper">
    <resultMap id="BedMap" type="cn.gson.his.model.pojos.InHospital.BedEntity">
        <id property="bedId" column="bed_id"></id>
        <result property="bedName" column="bed_name"></result>
        <result property="roomId" column="room_id"></result>
        <result property="bedIs" column="bed_is"></result>
        <result property="bedCost" column="bed_cost"></result>

        <association property="room" javaType="cn.gson.his.model.pojos.InHospital.RoomEntity">
            <id property="roomId" column="room_id"></id>
            <result property="roomName" column="room_name"></result>
            <result property="roomSite" column="room_site"></result>
            <result property="depaId" column="depa_id"></result>
            <result property="roomIs" column="room_is"></result>
        </association>




    </resultMap>

    <!--根据病房id查询所有床位-->
    <select id="selectBed" resultMap="BedMap">
        select * from bed b left join room r on b.room_id = r.room_id

        where b.room_id = #{roomId}
    </select>

    <!--新增床位-->
    <insert id="insertBed">
        insert into bed values(seq.nextval,#{bedName},#{roomId},0,#{bedCost})
    </insert>

    <!--修改床位-->
    <update id="updateBed">
        update bed set bed_name=#{bedName}, room_id=#{roomId},bed_is=#{bedIs},bed_cost=#{bedCost} where bed_id=#{bedId}
    </update>


</mapper>