<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.InHospital.ConsMapper">
    <resultMap id="conMap" type="cn.gson.his.model.pojos.Drug.ConEntity">
        <id column="CON_ID" property="conId"></id>
        <result column="CON_NAME" property="conName"></result>
        <result column="CON_GE" property="conGe"></result>
        <result column="DW" property="dw"></result>
        <result column="YF" property="yf"></result>
        <result column="CON_SM" property="conSm"></result>
        <result column="BZQ" property="bzq"></result>
        <result column="DRUG_PFPRICE" property="drugPfprice"></result>
        <result column="CON_PRICE" property="conPrice"></result>
        <result column="ZDKCS" property="zdkcs"></result>
        <result column="KSZT" property="kszt"></result>
        <result column="GESL" property="gesl"></result>
        <result column="SHDW" property="shdw"></result>
    </resultMap>

    <!--查询所有耗材-->
    <select id="selCon" resultMap="conMap">
        select * from con
        <where>
            <if test=" conText !='' and conText !=null ">
                and (CON_NAME like '%${conText}%' or CON_GE like '%${conText}%' or DW like '%${conText}%'
                 or CON_PRICE like '%${conText}%')
            </if>
        </where>
    </select>

</mapper>