<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.InHospital.DepaMapper">
    <resultMap id="depaMap" type="cn.gson.his.model.pojos.Power.Department">
        <id property="depaId" column="DEPA_ID"></id>
        <result property="depaName" column="DEPA_NAME"></result>
        <result property="depaCreate" column="DEPA_CREATE"></result>
        <result property="dept" column="dept_dept"></result>
        <result property="depaAddress" column="depa_address"></result>
    </resultMap>


    <!--查询某科室当天值班的医生-->
    <select id="selDuty" resultMap="depaMap">

    </select>
    

</mapper>