<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.InHospital.DrugMapper">
    <resultMap id="drugMap" type="cn.gson.his.model.pojos.Drug.DrugEntity">
        <id column="DRUG_ID" property="drugId"></id>
        <result column="DRUG_NAME" property="drugName"></result>
        <result column="DRUG_GE" property="drugGe"></result>
        <result column="DW" property="dw"></result>
        <result column="YF" property="yf"></result>
        <result column="DRUG_SM" property="drugSm"></result>
        <result column="BZQ" property="bzq"></result>
        <result column="DRUG_PFPRICE" property="drugPfprice"></result>
        <result column="DRUG_PRICE" property="drugPrice"></result>
        <result column="ZDKCS" property="zdkcs"></result>
        <result column="KSZT" property="kszt"></result>
        <result column="GESL" property="gesl"></result>
        <result column="SHDW" property="shdw"></result>

        <association property="lb" javaType="cn.gson.his.model.pojos.Drug.LbEntity">
            <id column="lb_id" property="lbId"></id>
            <result column="lb_name" property="lbName"></result>
            <result column="lb_fl" property="lbFl"></result>
        </association>



    </resultMap>

    <!--联合查询 药品 和 耗材-->
    <select id="selDrug" resultMap="drugMap">
        select * from (
                select d.DRUG_ID,d.DRUG_NAME,d.DRUG_GE,d.GYS_ID,d.LB_ID,d.DRUG_SM,d.BZQ,d.DRUG_PFPRICE,d.DRUG_PRICE,d.DW,d.YF,d.ZDKCS
                ,d.KSZT,null,d.SHDW,l.lb_name,l.lb_fl,li.kcs
                from DRUG d
                LEFT JOIN lb l on d.lb_id = l.lb_id
                LEFT JOIN LIBRARYXQ li on d.DRUG_ID = li.product_id

                union ALL

                select c.CON_ID,c.CON_NAME,c.CON_GE,c.GYS_ID,NULL,c.CON_SM,c.BZQ,c.DRUG_PFPRICE,c.CON_PRICE,c.DW,c.YF,c.ZDKCS
                ,c.KSZT,c.GESL,c.SHDW,null,null,li.kcs
                from CON c
                LEFT JOIN LIBRARYXQ li on c.CON_ID = li.product_id
        )
        <where>
            <if test="typeId !='' and typeId != null ">
                <if test="typeId == 1">
                    and lb_fl = '中药'
                </if>
                <if test="typeId == 2">
                    and lb_fl = '西药'
                </if>
                <if test="typeId == 3">
                    and lb_fl is null
                </if>
            </if>
            <if test="drugText != '' and drugText != null ">
                and (DRUG_NAME like '%${drugText}%' or DRUG_GE like '%${drugText}%'
                    or lb_name like '%${drugText}%' or DW like '%${drugText}%'
                    or DRUG_PRICE like '%${drugText}%'
                    )
            </if>
        </where>
    </select>
</mapper>