<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.InHospital.HospitalRegisterMapper">
    <resultMap id="HopRegMap" type="cn.gson.his.model.pojos.InHospital.HospitalRegisterEntity">
        <id property="regId" column="reg_id"></id>
        <result property="regMark" column="reg_mark"></result>
        <result property="regDate" column="reg_date"></result>
        <result property="patientNo" column="patient_no"></result>
        <result property="regName" column="reg_name"></result>
        <result property="depaId" column="depa_id"></result>
        <result property="doctorId" column="doctor_id"></result>
        <result property="doctorName" column="doctor_name"></result>
        <result property="regIs" column="reg_is"></result>
        <result property="diagnoseResult" column="diagnose_result"></result>
        <!--病人信息-->
        <association property="patientData" javaType="cn.gson.his.model.pojos.Outpatient.PatientdataEntity">
            <id column="PATIENT_NO" property="patientNo" ></id>
            <result column="PATIENT_NAME" property="patientName"/>
            <result column="PATIENT_SEX" property="patientSex"/>
            <result column="PATIENT_AGE" property="patientAge"/>
            <result column="PATIENT_PHONE" property="patientPhone"/>
            <result column="PATIENT_INSU" property="patientInsu"/>
            <result column="PATIENT_IDENTITY" property="patientIdentity"/>
            <result column="PATIENT_PIRTH" property="patientPirth"/>
        </association>
        <!--科室-->
        <association property="depa" javaType="cn.gson.his.model.pojos.Power.Department">
            <id property="depaId" column="depa_id"></id>
            <result property="depaName" column="depa_name"></result>
        </association>

        <!--病床-->
        <association property="bed" javaType="cn.gson.his.model.pojos.InHospital.BedEntity">
            <id property="bedId" column="bed_id"></id>
            <result property="bedName" column="bed_name"></result>
            <result property="roomId" column="room_id"></result>
            <result property="bedIs" column="bed_is"></result>
        </association>
        <!--病房-->
        <association property="roomEntity" javaType="cn.gson.his.model.pojos.InHospital.RoomEntity">
            <id property="roomId" column="room_id"></id>
            <result property="roomName" column="room_name"></result>
            <result property="roomSite" column="room_site"></result>
            <result property="depaId" column="depa_id"></result>
            <result property="roomIs" column="room_is"></result>
            <result property="roomCost" column="room_cost"></result>
        </association>
        <!--床位使用记录-->
        <association property="beds" javaType="cn.gson.his.model.pojos.InHospital.BedsEntity">
            <id property="bedsId" column="beds_id"></id>
            <result property="bedId" column="bed_id"></result>
            <result property="regMark" column="reg_mark"></result>
            <result property="bedsName" column="beds_name"></result>
            <result property="nurseId" column="nurse_id"></result>
            <result property="nurseName" column="nurse_name"></result>
            <result property="bedsStart" column="beds_start"></result>
            <result property="bedsEnd" column="beds_end"></result>
            <result property="bedsIs" column="beds_is"></result>
        </association>
        <!--押金表-->
        <association property="prepay" javaType="cn.gson.his.model.pojos.InHospital.PrepayEntity">
            <id property="preId" column="pre_id"></id>
            <result property="regMark" column="reg_mark"></result>
            <result property="preBalance" column="pre_balance"></result>
            <result property="preArrearage" column="pre_arrearage"></result>
        </association>
        <!--出院申请-->
        <association property="doctorLeave" javaType="cn.gson.his.model.pojos.InHospital.DoctorLeaveEntity">
            <id property="leaId" column="lea_id"></id>
            <result property="regMark" column="reg_mark"></result>
            <result property="leaDate" column="lea_date"></result>
            <result property="leaCause" column="lea_cause"></result>
            <result property="doctorId" column="doctor_id"></result>
            <result property="leaIs" column="lea_is"></result>
            <result property="leaReason" column="lea_reason"></result>
        </association>
        <!--出院登记-->
        <association property="doctorCheck" javaType="cn.gson.his.model.pojos.InHospital.DoctorCheckEntity">
            <id property="cheId" column="che_Id"></id>
            <result property="cheDate" column="che_Date"></result>
            <result property="regMark" column="reg_Mark"></result>
            <result property="cheName" column="che_Name"></result>
            <result property="cheDay" column="che_Day"></result>
            <result property="bedId" column="bed_Id"></result>
            <result property="depaId" column="depa_Id"></result>
        </association>
        <!--医嘱-->
        <collection property="doctorEnjoin" ofType="cn.gson.his.model.pojos.InHospital.DoctorEnjoinEntity">
            <id property="enId" column="en_id"></id>
            <result property="enDate" column="en_date"></result>
            <result property="enStart" column="en_start"></result>
            <result property="enEnd" column="en_end"></result>
            <result property="regMark" column="reg_mark"></result>
            <result property="doctorId" column="doctor_id"></result>
            <result property="enType" column="en_type"></result>
            <result property="enState" column="en_state"></result>
            <result property="enContent" column="en_content"></result>
        </collection>
        <!--医嘱详表-->
        <collection property="doctorEnjoins" ofType="cn.gson.his.model.pojos.InHospital.DoctorEnjoinsEntity">
            <id property="ensId" column="ens_id"></id>
            <result property="enId" column="en_id"></result>
            <result property="drugId" column="drug_id"></result>
            <result property="drugName" column="drug_name"></result>
            <result property="drugType" column="drug_type"></result>
            <result property="drugGe" column="drug_ge"></result>
            <result property="drugDw" column="drug_dw"></result>
            <result property="drugYf" column="drug_yf"></result>
            <result property="ensStart" column="ens_start"></result>
            <result property="ensEnd" column="ens_end"></result>
            <result property="drugDosage" column="drug_dosage"></result>
            <result property="ensAmount" column="ens_amount"></result>
            <result property="drugPrice" column="drug_price"></result>
            <result property="ensState" column="ens_state"></result>
            <result property="ensType" column="ens_type"></result>
            <result property="ensCount" column="ens_count"></result>
        </collection>
        <!--医嘱执行记录-->
        <collection property="doctorExecute" ofType="cn.gson.his.model.pojos.InHospital.DoctorExecuteEntity">
            <id column="exe_id" property="exeId"></id>
            <result column="exe_date" property="exeDate"></result>
            <result column="ens_id" property="ensId"></result>
            <result column="nurse_id" property="nurseId"></result>
            <result column="nurse_name" property="nurseName"></result>
            <result column="reg_mark" property="regMark"></result>
            <result column="drug_id" property="drugId"></result>
            <result column="drug_name" property="drugName"></result>
            <result column="drug_ge" property="drugGe"></result>
            <result column="drug_dw" property="drugDw"></result>
            <result column="drug_count" property="drugCount"></result>
            <result column="drug_price" property="drugPrice"></result>
        </collection>

    </resultMap>

    <!--新增住院登记-->
    <insert id="insertReg">
        insert into hospital_register values(seq.nextval,#{regMark},current_timestamp ,#{patientNo},#{regName},#{depaId},#{doctorId},#{doctorName},0,#{diagnoseResult})
    </insert>

    <!--查询所有住院登记-->
    <select id="selReg" resultMap="HopRegMap">
        select * from hospital_register h left join patientdata p on h.patient_no = p.patient_no
        left join department d on h.depa_id = d.depa_id
        left join beds bs on h.reg_mark = bs.reg_mark
        left join bed b on b.bed_id = bs.bed_id
        left join room r on b.room_id = r.room_id
        left join prepay pr on h.reg_mark = pr.reg_mark
        <where>
            <if test="depaId != '' and depaId != null and depaId != 0 " >
                and h.depa_id= #{depaId}
            </if>
            <if test="beginTime != '' and beginTime != null and endTime != '' and endTime != null">
                and (to_char(h.reg_date,'yyyy-mm-dd') between #{beginTime} and  #{endTime})
            </if>
            <if test="content != '' ">
                and  (h.reg_mark like '%${content}%' or h.reg_name like '%${content}%' or h.doctor_name like '%${content}%'
                 or r.room_name like '%${content}%' or b.bed_name like '%${content}%' or p.patient_sex like '%${content}%'
                 or p.patient_age like '%${content}%' or p.patient_phone like '%${content}%' or p.patient_pirth like '%${content}%')
            </if>
            and h.reg_is = 0 and bs.beds_is=0 order by h.reg_date desc
        </where>
    </select>

    <!--查询所有住院登记和床位-->
    <select id="selRegBeds" resultMap="HopRegMap">
          select * from hospital_register h left join beds b on h.reg_mark = b.reg_mark
          left join department d on h.depa_id = d.depa_id
          left join bed be on b.bed_id = be.bed_id
          left join room r on be.room_id = r.room_id
        <where>
            <if test="depaId != '' and depaId != null and depaId != 0 " >
                and h.depa_id= #{depaId}
            </if>
            <if test="beginTime != '' and beginTime != null and endTime != '' and endTime != null">
                and (to_char(b.beds_start,'yyyy-mm-dd') between #{beginTime} and  #{endTime})
            </if>
            <if test="content != '' ">
                and  (h.reg_mark like '%${content}%' or h.reg_name like '%${content}%' or h.doctor_name like '%${content}%'
                or be.bed_name like '%${content}%' or b.nurse_name like '%${content}%' or r.room_name like '%${content}%'
                )
            </if>
            and h.reg_is = 0 and b.beds_is = 0  order by  b.beds_start desc
        </where>
    </select>

    <!--住院医生工作站 病人的所有信息  只查科室的病人-->
    <select id="selAll" resultMap="HopRegMap">
        select * from hospital_register h left join beds b on h.reg_mark = b.reg_mark
          left join department d on h.depa_id = d.depa_id
          left join bed be on b.bed_id = be.bed_id
          left join patientdata p on h.patient_no = p.patient_no
          left join prepay pr on h.reg_mark = pr.reg_mark
          left join doctor_enjoin en on h.reg_mark = en.reg_mark
          left join doctor_leave le on h.reg_mark = le.reg_mark

            <where>
                <if test="text!='' and text != null">
                    and (h.reg_mark like '%${text}%' or h.reg_name like '%${text}%')
                </if>

                and h.reg_is = 0 and b.beds_is = 0
                and h.depa_id = #{depaId}
            </where>

    </select>
    <!--查执行医嘱-->
    <select id="query" resultMap="HopRegMap">
        select * from hospital_register h left join beds b on h.reg_mark = b.reg_mark
          left join department d on h.depa_id = d.depa_id
          left join bed be on b.bed_id = be.bed_id
          left join doctor_enjoin en on h.reg_mark = en.reg_mark
          left join doctor_execute ex on h.reg_mark = ex.reg_mark
          left join doctor_enjoins ens on en.en_id = ens.en_id
        <where>
            <if test="depaId != '' and depaId != null and depaId != 0 " >
                and d.depa_id= #{depaId}
            </if>
            <if test="text !='' and text != null " >
                and (h.reg_name like '%${text}%' or h.doctor_name like '%${text}%' or
                b.nurse_name like '%${text}%' or be.bed_name like '%${text}%')
            </if>

            and h.reg_is = 0 and b.beds_is = 0

            and ens.ens_id not in ( SELECT ex.ens_id from doctor_execute ex where to_char(ex.exe_date,'yyyy-mm-dd') = to_char(sysdate,'yyyy-mm-dd'))
            and ens.ens_end is null

            and en.en_id is not null
            and to_char(sysdate,'yyyy-mm-dd')  &gt;=  to_char(ens.ens_start,'yyyy-mm-dd')

        </where>

    </select>




    <!--住院登记查询-->
    <select id="selLeave" resultMap="HopRegMap">
        select * from hospital_register h left join beds b on h.reg_mark = b.reg_mark
        left join department d on h.depa_id = d.depa_id
        left join bed be on b.bed_id = be.bed_id
        left join patientdata p on h.patient_no = p.patient_no
        left join prepay pr on h.reg_mark = pr.reg_mark
        left join doctor_enjoin en on h.reg_mark = en.reg_mark
        left join doctor_leave le on h.reg_mark = le.reg_mark

        <where>
            <if test="depaId != '' and depaId != null and depaId != 0 " >
                and d.depa_id= #{depaId}
            </if>
            <if test="text !='' and text != null " >
                and (h.reg_mark like '%${text}%' or h.reg_name like '%${text}%' or h.doctor_name like '%${text}%'
                 or d.depa_name like '%${text}%' or be.bed_name like '%${text}%'
                )
            </if>

            and h.reg_is = 0 and b.beds_is = 0 and le.lea_is = 0
        </where>
    </select>




    <!--转科后修改病人的科室和主治医生-->
    <update id="updateReg">
        update hospital_register set depa_id=#{depaId},doctor_id=#{doctorId},doctor_name=#{doctorName} where reg_mark=#{regMark}
    </update>

    <!--根据住院号查病人-->
    <select id="look" resultMap="HopRegMap">
        select * from hospital_register where reg_mark=#{regMark}
    </select>

    <!--根据身份证查病人是否已经住院-->
    <select id="selIdentity" resultMap="HopRegMap">
        select * from hospital_register h left join patientdata p on h.patient_no = p.patient_no
        where  p.PATIENT_IDENTITY = #{patientIdentity} and h.reg_is = 0
    </select>

    <!--查询所有出院申请-->
    <select id="leaSel" resultMap="HopRegMap">
        select * from hospital_register h left join beds b on h.reg_mark = b.reg_mark
        left join department d on h.depa_id = d.depa_id
        left join bed be on b.bed_id = be.bed_id
        left join patientdata p on h.patient_no = p.patient_no
        left join prepay pr on h.reg_mark = pr.reg_mark
        left join doctor_enjoin en on h.reg_mark = en.reg_mark
        left join doctor_leave le on h.reg_mark = le.reg_mark
        left join room r on be.room_id = r.room_id
        <where>
            <if test="depaId != '' and depaId != null and depaId != 0 " >
                and h.depa_id= #{depaId}
            </if>
            <if test="beginTime != '' and beginTime != null and endTime != '' and endTime != null">
                and (to_char(b.beds_start,'yyyy-mm-dd') between #{beginTime} and  #{endTime})
            </if>
            <if test="content != '' ">
                and  (h.reg_mark like '%${content}%' or h.reg_name like '%${content}%' or h.doctor_name like '%${content}%'
                or be.bed_name like '%${content}%' or b.nurse_name like '%${content}%'
                )
            </if>
            and h.reg_is = 0  and le.lea_is = 0 order by le.lea_date desc
        </where>
    </select>

    <!--新增出院登记-->
    <insert id="insertCheck" >
        insert into doctor_check values (seq.nextval,current_timestamp ,#{regMark},#{cheName},#{cheDay},#{bedId},#{depaId})
    </insert>

    <!--根据住院号修改住院登记表状态-->
    <update id="updateRegister">
        update hospital_register set reg_is = 1 where reg_mark = #{regMark}
    </update>

</mapper>