<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Drug.CangkMapper">
    <select id="cangkcx" resultType="cn.gson.his.model.pojos.Drug.LibraryInfoEntity">
        select * from LIBRARY_INFO
        <where>
            <if test="nr!=null and nr!=''">
                and LIBRARY_NAME like concat(concat('%',#{nr}),'%')
            </if>
        </where>
    </select>

    <select id="yfckcx" resultType="cn.gson.his.model.pojos.Drug.LibraryInfoEntity">
        select * from LIBRARY_INFO where LIBRARY_JB=1
    </select>

    <resultMap id="ckxqMap" type="cn.gson.his.model.pojos.Drug.LibraryxqEntity">
        <id column="LIBRARYXQ_ID" property="libraryxqId"></id>
        <result column="PRODUCT_ID" property="productId"></result>
        <result column="PRODUCT_NAME" property="productName"></result>
        <result column="PRODUCT_FL" property="productFl"></result>
        <result column="KCS" property="kcs"></result>
        <result column="PH" property="ph"></result>
        <result column="SCDATE" property="scdate"></result>
        <result column="GQDATE" property="gqdate"></result>
        <result column="KSZT" property="kszt"></result>
        <result column="GESL" property="gesl"></result>
        <result column="SHDW" property="shdw"></result>
        <result column="PRICE" property="price"></result>
        <result column="SJPRICE" property="sjprice"></result>
        <result column="GE" property="ge"></result>
        <result column="QSKCS" property="qskcs"></result>
        <association property="library" javaType="cn.gson.his.model.pojos.Drug.LibraryInfoEntity">
            <id column="LIBRARY_ID" property="libraryId"></id>
            <result column="lname" property="libraryName"></result>
        </association>
        <association property="gys" javaType="cn.gson.his.model.pojos.Drug.GysEntity">
            <id column="gys_id" property="gysId"></id>
            <result column="g_name" property="gysName"></result>
        </association>
    </resultMap>

    <select id="ckxqcx" resultMap="ckxqMap">
        select l.*,g.gys_name g_name,lin.library_name lname from LIBRARYXQ l LEFT JOIN LIBRARY_INFO lin on l.library_id=lin.library_id left join gys g on l.gys_id=g.gys_id
        <where>
            <if test="id!=null and id!=0">
                and l.LIBRARY_ID=#{id}
            </if>
            <if test="nr!=null and nr!=''">
                and PRODUCT_NAME like concat(concat('%',#{nr}),'%')
            </if>
        </where>
    </select>

    <select id="ckgqcx" resultMap="ckxqMap">
        select l.*,g.gys_name g_name,lin.library_name lname from LIBRARYXQ l LEFT JOIN LIBRARY_INFO lin on l.library_id=lin.library_id left join gys g on l.gys_id=g.gys_id
        where l.LIBRARY_ID=#{id} and SYSDATE>=l.GQDATE and l.kcs!=0
    </select>

    <select id="cklqcx" resultMap="ckxqMap">
        select l.*,g.gys_name g_name,lin.library_name lname from LIBRARYXQ l LEFT JOIN LIBRARY_INFO lin on l.library_id=lin.library_id left join gys g on l.gys_id=g.gys_id
        where l.LIBRARY_ID=#{id} <![CDATA[and l.gqdate<=ADD_MONTHS(SYSDATE,1) and l.gqdate>SYSDATE and l.kcs!=0]]>
    </select>

    <select id="ckxqcxid" resultMap="ckxqMap">
        select l.*,g.gys_name g_name,lin.library_name lname from LIBRARYXQ l LEFT JOIN LIBRARY_INFO lin on l.library_id=lin.library_id left join gys g on l.gys_id=g.gys_id
        where l.LIBRARY_ID=#{id} and l.PRODUCT_ID=#{pid} and l.PRODUCT_FL=#{fl} and l.PH=#{ph}
    </select>

    <select id="dbckxqcx" resultMap="ckxqMap">
        select l.*,g.gys_name g_name,lin.library_name lname from LIBRARYXQ l LEFT JOIN LIBRARY_INFO lin on l.library_id=lin.library_id left join gys g on l.gys_id=g.gys_id
        <where>
            <if test="id!=null and id!=0">
                and l.LIBRARY_ID=#{id}
            </if>
            <if test="ckid!=null and ckid!=0">
                and l.LIBRARY_ID!=#{ckid}
            </if>
            <if test="nr!=null and nr!=''">
                and PRODUCT_NAME like concat(concat('%',#{nr}),'%')
            </if>
        </where>
    </select>

    <select id="ckcxid" resultType="cn.gson.his.model.pojos.Drug.LibraryInfoEntity">
        select * from LIBRARY_INFO where LIBRARY_ID=#{id}
    </select>

    <select id="stocx" resultType="cn.gson.his.model.pojos.Drug.StoEntity">
        select * from sto where LIBRARY_ID=#{id}
    </select>

    <resultMap id="stojlMap" type="cn.gson.his.model.pojos.Drug.StojlEntity">
        <id column="STOJL_ID" property="stojlId"></id>
        <result column="PRODUCT_ID" property="productId"></result>
        <result column="PRODUCT_NAME" property="productName"></result>
        <result column="PRODUCT_FL" property="productFl"></result>
        <result column="SL" property="sl"></result>
        <result column="PH" property="ph"></result>
        <result column="SCDATE" property="scdate"></result>
        <result column="STO_ID" property="stoId"></result>
        <result column="BZ" property="bz"></result>
        <result column="GE" property="ge"></result>
        <result column="KSZT" property="kszt"></result>
        <result column="GESL" property="gesl"></result>
        <result column="SHDW" property="shdw"></result>
        <association property="gys" javaType="cn.gson.his.model.pojos.Drug.GysEntity">
            <id column="gys_id" property="gysId"></id>
            <result column="g_name" property="gysName"></result>
        </association>
    </resultMap>

    <select id="stojlcx" resultMap="stojlMap">
        select s.*,g.gys_name g_name from stojl s left join gys g on s.gys_id=g.gys_id where STO_ID=#{id} and PRODUCT_ID=#{proid} and PRODUCT_FL=#{fl} and PH=#{ph}
    </select>

    <select id="chucx" resultType="cn.gson.his.model.pojos.Drug.ChuEntity">
        select * from chu where LIBRARY_ID=#{id}
    </select>

    <resultMap id="chujlMap" type="cn.gson.his.model.pojos.Drug.ChujlEntity">
        <id column="CHUJL_ID" property="chujlId"></id>
        <result column="PRODUCT_ID" property="productId"></result>
        <result column="PRODUCT_NAME" property="productName"></result>
        <result column="PRODUCT_FL" property="productFl"></result>
        <result column="SL" property="sl"></result>
        <result column="PH" property="ph"></result>
        <result column="SCDATE" property="scdate"></result>
        <result column="CHU_ID" property="chuId"></result>
        <result column="BZ" property="bz"></result>
        <result column="GE" property="ge"></result>
        <result column="KSZT" property="kszt"></result>
        <result column="GESL" property="gesl"></result>
        <result column="SHDW" property="shdw"></result>
        <association property="gys" javaType="cn.gson.his.model.pojos.Drug.GysEntity">
            <id column="gys_id" property="gysId"></id>
            <result column="g_name" property="gysName"></result>
        </association>
    </resultMap>

    <select id="chujlcx" resultMap="chujlMap">
        select c.*,g.gys_name g_name from chujl c left join gys g on c.gys_id=g.gys_id where CHU_ID=#{id} and PRODUCT_ID=#{proid} and PRODUCT_FL=#{fl} and PH=#{ph}
    </select>

    <select id="yfcfcx" resultMap="ckxqMap">
        select l.*,g.gys_name g_name,lin.library_name lname from LIBRARYXQ l LEFT JOIN LIBRARY_INFO lin on l.library_id=lin.library_id left join gys g on l.gys_id=g.gys_id
        where l.LIBRARY_ID=#{id} and l.PRODUCT_ID=#{pid} and l.PRODUCT_FL=#{fl}
    </select>
</mapper>