<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Drug.DbsqMapper">
    <resultMap id="dbMap" type="cn.gson.his.model.pojos.Drug.Allot">
        <id column="CHU_ID" property="chuId"></id>
        <result column="CHU_DATE" property="chuDate"></result>
        <result column="WHY" property="why"></result>
        <result column="LY_ID" property="lyId"></result>
        <association property="library" javaType="cn.gson.his.model.pojos.Drug.LibraryInfoEntity">
            <id column="LIBRARY_ID" property="libraryId"></id>
            <result column="lname" property="libraryName"></result>
        </association>
        <association property="employee" javaType="cn.gson.his.model.pojos.Power.Employee">
            <id column="SHR" property="empId"></id>
            <result column="e_name" property="empName"></result>
        </association>
    </resultMap>

    <select id="dbMap" resultMap="dbMap">

    </select>
</mapper>