<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Drug.SpMapper">
    <resultMap id="spMap" type="cn.gson.his.model.pojos.Drug.AuditInfo">
        <id column="APPROVAL_ID" property="approvalId"></id>
        <result column="APPROVAL_DATE" property="approvalDate"></result>
        <result column="APPROVAL_WHY" property="approvalWhy"></result>
        <result column="SOURCE_ID" property="sourceId"></result>
        <result column="JG" property="jg"></result>
        <result column="BZ" property="bz"></result>
        <association property="spr" javaType="cn.gson.his.model.pojos.Power.Employee">
            <id column="SHR" property="empId"></id>
            <result column="e_name" property="empName"></result>
        </association>
    </resultMap>

    <select id="spselect" resultMap="spMap">
        select a.*,e.EMP_NAME e_name from AUDIT_INFO a inner join EMPLOYEE e on a.spr=e.EMP_ID
        <where>
            <if test="why!=null and why!=''">
                and a.APPROVAL_WHY=#{why}
            </if>
            <if test="nr!=null and nr!=''">
               and a.SOURCE_ID like concat(concat('%',#{nr}),'%')
            </if>
            <if test="qssj!=null and jssj!=null">
                and a.APPROVAL_DATE BETWEEN #{qssj} and #{jssj}
            </if>
        </where>
        order by APPROVAL_DATE desc
    </select>
</mapper>