<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Drug.TfMapper">
    <resultMap id="tfsqMap" type="cn.gson.his.model.pojos.Drug.Premium">
        <id column="PREMIUM_ID" property="premiumId"></id>
        <result column="PREMIUM_PRES" property="premiumPres"></result>
        <result column="PREMIUM_PROPORES" property="premiumPropores"></result>
        <result column="PROPORES_NAME" property="proporesName"></result>
        <result column="PREMIUM_DOCTOR" property="premiumDoctor"></result>
        <result column="DOCTOR_NAME" property="doctorName"></result>
        <result column="PREMIUM_DATE" property="premiumDate"></result>
        <result column="PREMIUM_STATE" property="premiumState"></result>
        <result column="PATIENT_IDENTITY" property="patientIdentity"></result>
        <result column="TUI_YUAN" property="tuiYuan"></result>

        <association property="patie" javaType="cn.gson.his.model.pojos.Outpatient.PatientdataEntity">
            <id column="PATIENT_NO" property="patientNo"></id>
            <result column="PATIENT_NAME" property="patientName"></result>
        </association>
    </resultMap>
    <select id="tfsqcx" resultMap="tfsqMap">
        SELECT * from PREMIUM p INNER JOIN PATIENTDATA a on p.patie=a.PATIENT_NO
        <where>
            <if test="nr!=null and nr!=''">
                and p.PREMIUM_ID like concat(concat('%',#{nr}),'%') or p.PREMIUM_PRES like concat(concat('%',#{nr}),'%')
            </if>
        </where>
    </select>

    <select id="tfsqxqcx" resultType="cn.gson.his.model.pojos.Drug.Premiums">
        select * from premiums where PREMIUM_ID=#{id}
        <where>
            <if test="nr!=null and nr!=''">
                drugName like concat(concat('%',#{nr}),'%')
            </if>
        </where>
    </select>
<!--    查询退费申请-->
    <select id="selectPremium" resultMap="tfsqMap">
        select * from PREMIUM  inner join PREMIUMS P on PREMIUM.PREMIUM_ID = P.PREMIUM_ID
        <where>
            <if test="proporesName !=null">
                P.PROPORES_NAME = #{proporesName}
            </if>
            <if test="doctorName !=null">
                p.DOCTOR_NAME = #{doctorName}
            </if>
            <if test="premiumDate !=null">
                p.PREMIUM_DATE = #{premiumDate}
            </if>
            <if test="patientIdentity !=null">
                and  to_char(p.PATIENT_IDENTITY,'yyyy-mm-dd') = to_char(#{patientIdentity},'yyyy-mm-dd')
            </if>
        </where>
    </select>
    <resultMap id="Premiums" type="cn.gson.his.model.pojos.Drug.Premiums">
        <result column="PREMIUMS_ID" property="premiumsId"/>
        <result column="DRUG_ID" property="drugId"/>
        <result column="DRUG_NAME" property="drugName"/>
        <result column="DRUG_PRICE" property="drugPrice"/>
        <result column="PREMIUM_ID" property="premiumId"/>
        <result column="COUNT" property="count"/>
        <result column="FL" property="fl"/>
    </resultMap>
<!--    查询退费详情-->
    <select id="selectPremiums" resultMap="Premiums">
        select * from premiums where PREMIUM_ID=#{id}
    </select>
</mapper>