<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Drug.YfMapper">
    <resultMap id="yfMap" type="cn.gson.his.model.pojos.Drug.PillsEntity">
        <id column="PILLS_ID" property="pillsId"></id>
        <result column="PILLS_DATE" property="pillsDate"></result>
        <result column="FYLY_ID" property="fylyId"></result>
        <result column="FYLY_FL" property="fylyFl"></result>
        <association property="library" javaType="cn.gson.his.model.pojos.Drug.LibraryInfoEntity">
            <id column="LIBRARY_ID" property="libraryId"></id>
            <result column="lname" property="libraryName"></result>
        </association>
        <association property="employee" javaType="cn.gson.his.model.pojos.Power.Employee">
            <id column="FYR" property="empId"></id>
            <result column="e_name" property="empName"></result>
        </association>
    </resultMap>

    <select id="yfglcx" resultMap="yfMap">
        SELECT a.*,e.emp_name e_name,l.library_name lname from PILLS a LEFT JOIN EMPLOYEE e ON a.fyr = e.EMP_ID LEFT JOIN LIBRARY_INFO l on a.LIBRARY_ID=l.LIBRARY_ID
        <where>
            a.fyly_fl=0
            <if test="nr!=null and nr!=''">
                and PILLS_ID = #{nr} or FYLY_ID = #{nr}
            </if>
            <if test="qssj!=null and jssj!=null">
                and PILLS_DATE BETWEEN #{qssj} and #{jssj}
            </if>
        </where>
    </select>

    <select id="yfcx" resultMap="yfMap">
        SELECT a.*,e.emp_name e_name,l.library_name lname from PILLS a LEFT JOIN EMPLOYEE e ON a.fyr = e.EMP_ID LEFT JOIN LIBRARY_INFO l on a.LIBRARY_ID=l.LIBRARY_ID
        <where>
            a.fyly_fl=0
            <if test="nr!=null and nr!=''">
                and PILLS_ID = #{nr} or FYLY_ID = #{nr}
            </if>
        </where>
    </select>

    <!--根据分类以及来源编号查询发药单-->
    <select id="fycxlyid" resultMap="yfMap">
        SELECT a.*,e.emp_name e_name,l.library_name lname from PILLS a LEFT JOIN EMPLOYEE e ON a.fyr = e.EMP_ID LEFT JOIN LIBRARY_INFO l on a.LIBRARY_ID=l.LIBRARY_ID
       where a.fyly_fl=#{fl} and a.fyly_id=#{id}
    </select>

    <!--根据分类以及来源编号查询今天是否发过该科室的药-->
    <select id="cqyzfycxid" resultMap="yfMap">
        SELECT a.*,e.emp_name e_name,l.library_name lname from PILLS a LEFT JOIN EMPLOYEE e ON a.fyr = e.EMP_ID LEFT JOIN LIBRARY_INFO l on a.LIBRARY_ID=l.LIBRARY_ID
        where a.fyly_fl=#{fl} and a.fyly_id=#{id} and to_date(to_char(SYSDATE,'yyyy-mm-dd'),'yyyy-mm-dd')=to_date(to_char(a.PILLS_DATE,'yyyy-mm-dd'),'yyyy-mm-dd')
    </select>

    <resultMap id="yfxqMap" type="cn.gson.his.model.pojos.Drug.Pillsxq">
        <id column="PILLSXQ_ID" property="pillsxqId"></id>
        <result column="PRODUCT_ID" property="productId"></result>
        <result column="PRODUCT_NAME" property="productName"></result>
        <result column="PRODUCT_FL" property="productFl"></result>
        <result column="SL" property="sl"></result>
        <result column="PH" property="ph"></result>
        <result column="SCDATE" property="scdate"></result>
        <result column="BZ" property="bz"></result>
        <result column="DRUG_GE" property="drugGe"></result>
        <result column="GQDATE" property="gqdate"></result>
        <result column="DRUG_PRICE" property="drugPrice"></result>
        <result column="PRICE" property="price"></result>
        <result column="PILLS_ID" property="pillsId"></result>
        <result column="KSZT" property="kszt"></result>
        <result column="GESL" property="gesl"></result>
        <result column="SHDW" property="shdw"></result>
        <result column="DW" property="dw"></result>
        <association property="gys" javaType="cn.gson.his.model.pojos.Drug.GysEntity">
            <id column="gys_id" property="gysId"></id>
            <result column="g_name" property="gysName"></result>
        </association>
    </resultMap>

    <select id="yfxqcx" resultMap="yfxqMap">
        select s.*,g.gys_name g_name from PILLSXQ s left join gys g on s.gys_id=g.gys_id
        <where>
            PILLS_ID=#{id}
            <if test="nr!=null and nr!=''">
                and PRODUCT_NAME like concat(concat('%',#{nr}),'%')
            </if>
        </where>
    </select>


    <resultMap id="prescs" type="cn.gson.his.model.pojos.Outpatient.PrescriptionsEntity">
        <id column="CHINESE_NO" property="chineseNo"/>
        <result column="C_COUNT" property="cCount"/>
        <result column="C_PRICE" property="cPrice"/>
        <result column="PRICE" property="price"/>
        <result column="W_SKIN" property="wSkin"/>
        <result column="W_SKINRESULT" property="wSkinresult"/>
        <result column="C_STATE" property="cState"/>
        <result column="P_TYPE" property="pType"/>
        <result column="CHINESE_ID" property="chineseId"/>
        <result column="CHINESE_NAME" property="ChineseName"/>
        <result column="CHINESE_GG" property="ChineseGG"/>
        <result column="CHINESE_DW" property="ChineseDW"/>
        <result column="CHINESE_YF" property="ChineseYF"/>
        <association property="presId" javaType="cn.gson.his.model.pojos.Outpatient.PrescriptionEntity">
            <id column="PRES_NO" property="presNo"/>
            <result column="PRES_NAME" property="presName"/>
            <result column="PRES_DATE" property="presDate"/>
            <result column="NEW_SEE" property="newSee"/>
            <result column="PRIVE_TYPE" property="priveType"/>
            <result column="EXPLAIN" property="explain"/>
            <result column="TOTAL_PRICE" property="totalPrice"/>
            <result column="MEDICINE_TYPE" property="medicineType"/>
            <association property="recordId" javaType="cn.gson.his.model.pojos.Outpatient.DoctorrecordEntity">
                <id column="RECORD_NO" property="recordNo"/>
                <result column="RECORD_IDENTITY" property="recordIdentity"/>
                <result column="RECORD_NAME" property="recordName"/>
                <result column="RECORD_PHONE" property="recordPhone"/>
                <result column="DOCTOR_NAME" property="doctorName"/>
                <result column="RECORD_RECORD" property="recordRecord"/>
            </association>
            <association property="doctorName" javaType="cn.gson.his.model.pojos.Power.Employee">
                <id property="empId" column="EMP_ID"></id>
                <result property="empName" column="EMP_NAME"></result>
            </association>
            <!--    患者信息-->
            <association property="patientNo" javaType="cn.gson.his.model.pojos.Outpatient.PatientdataEntity">
                <id column="PATIENT_NO" property="patientNo"></id>
                <result column="PATIENT_NAME" property="patientName"/>
                <result column="PATIENT_SEX" property="patientSex"/>
                <result column="PATIENT_AGE" property="patientAge"/>
                <result column="PATIENT_PHONE" property="patientPhone"/>
                <result column="PATIENT_INSU" property="patientInsu"/>
                <result column="PATIENT_IDENTITY" property="patientIdentity"/>
                <result column="PATIENT_PIRTH" property="patientPirth"/>
            </association>
        </association>
    </resultMap>
    <select id="cfxqcx" resultMap="prescs">
        select * from PRESCRIPTIONS where PRES_ID=#{id}
    </select>





    <!--处方的结果集映射-->
    <resultMap id="pres" type="cn.gson.his.model.pojos.Outpatient.PrescriptionEntity">
        <id column="PRES_NO" property="presNo"/>
        <result column="PRES_NAME" property="presName"/>
        <result column="PRES_DATE" property="presDate"/>
        <result column="NEW_SEE" property="newSee"/>
        <result column="PRIVE_TYPE" property="priveType"/>
        <result column="EXPLAIN" property="explain"/>
        <result column="TOTAL_PRICE" property="totalPrice"/>
        <result column="MEDICINE_TYPE" property="medicineType"/>
        <association property="recordId" javaType="cn.gson.his.model.pojos.Outpatient.DoctorrecordEntity">
            <id column="RECORD_NO" property="recordNo"/>
            <result column="RECORD_IDENTITY" property="recordIdentity"/>
            <result column="RECORD_NAME" property="recordName"/>
            <result column="RECORD_PHONE" property="recordPhone"/>
            <result column="DOCTOR_NAME" property="doctorName"/>
            <result column="RECORD_RECORD" property="recordRecord"/>
        </association>
        <!--        就诊卡号-->
        <association property="cardNo" javaType="cn.gson.his.model.pojos.Outpatient.CardEntity">
            <id column="CARD_ID" property="cardId"/>
            <result column="CARD_NO" property="cardNo"/>
            <result column="CARD_PSWD" property="cardPswd"/>
            <result column="CARD_PRICE" property="cardPrice"/>
            <result column="CARD_PREPAY" property="cardPrepay"/>
            <result column="PATIENT_NAME" property="patientName"/>
            <result column="CARD_STATE" property="cardState"/>
        </association>
        <!--        主治医生-->
        <association property="doctorName" javaType="cn.gson.his.model.pojos.Power.Employee">
            <id property="empId" column="EMP_ID"></id>
            <result property="empName" column="EMP_NAME"></result>
        </association>
        <!--    患者信息-->
        <association property="patientNo" javaType="cn.gson.his.model.pojos.Outpatient.PatientdataEntity">
            <id column="PATIENT_NO" property="patientNo"></id>
            <result column="PATIENT_NAME" property="patientName"/>
            <result column="PATIENT_SEX" property="patientSex"/>
            <result column="PATIENT_AGE" property="patientAge"/>
            <result column="PATIENT_PHONE" property="patientPhone"/>
            <result column="PATIENT_INSU" property="patientInsu"/>
            <result column="PATIENT_IDENTITY" property="patientIdentity"/>
            <result column="PATIENT_PIRTH" property="patientPirth"/>
        </association>
    </resultMap>
    <!--    查询处方-->
    <select id="cfidcx" resultMap="pres">
        select  * from   PRESCRIPTION P inner join DOCTORRECORD D  on P.RECORD_ID = D.RECORD_NO
        inner join CARD C2 on P.CARD_NO = C2.CARD_ID
        inner join PATIENTDATA P2 on P.PATIENT_NO = P2.PATIENT_NO
        inner join EMPLOYEE E on e.EMP_ID = p.DOCTOR_NAME where P.RECORD_ID = #{id}
    </select>


    <!--    医嘱发药查询-->
    <resultMap id="yzyfMap" type="cn.gson.his.model.pojos.Drug.PillsYz">
        <id column="PILLS_ID" property="pillsId"></id>
        <result column="PILLS_DATE" property="pillsDate"></result>
        <result column="FYLY_FL" property="fylyFl"></result>
        <association property="library" javaType="cn.gson.his.model.pojos.Drug.LibraryInfoEntity">
            <id column="LIBRARY_ID" property="libraryId"></id>
            <result column="lname" property="libraryName"></result>
        </association>
        <association property="employee" javaType="cn.gson.his.model.pojos.Power.Employee">
            <id column="FYR" property="empId"></id>
            <result column="e_name" property="empName"></result>
        </association>
        <association property="fylyId" javaType="cn.gson.his.model.pojos.Power.Department">
            <id column="FYLY_ID" property="DEPA_ID"></id>
            <result column="DEPA_NAME" property="depaName"></result>
        </association>
    </resultMap>

    <select id="yzyfcx" resultMap="yzyfMap">
        SELECT a.*,e.emp_name e_name,l.library_name lname,DEPA_NAME from PILLS a LEFT JOIN EMPLOYEE e ON a.fyr = e.EMP_ID LEFT JOIN LIBRARY_INFO l on a.LIBRARY_ID=l.LIBRARY_ID LEFT JOIN DEPARTMENT d on a.FYLY_ID=d.DEPA_ID
        <where>
            a.fyly_fl=1
            <if test="nr!=null and nr!=''">
                and PILLS_ID like concat(concat('%',#{nr}),'%')
            </if>
        </where>
    </select>

    <resultMap id="EnMap" type="cn.gson.his.model.pojos.InHospital.DoctorEnjoinEntity">
        <id property="enId" column="en_id"></id>
        <result property="enDate" column="en_date"></result>
        <result property="enStart" column="en_start"></result>
        <result property="enEnd" column="en_end"></result>
        <result property="regMark" column="reg_mark"></result>
        <result property="doctorId" column="doctor_id"></result>
        <result property="enType" column="en_type"></result>
        <result property="enState" column="en_state"></result>
        <result property="enContent" column="en_content"></result>

        <association property="emp" javaType="cn.gson.his.model.pojos.Power.Employee">
            <id property="empId" column="emp_id"></id>
            <result property="empName" column="emp_name"></result>
            <result property="empPhone" column="emp_phone"></result>
            <result property="empCard" column="emp_card"></result>
            <result property="empInduction" column="emp_induction"></result>
            <result property="empDeparture" column="emp_departure"></result>
            <result property="empState" column="emp_state"></result>
        </association>

        <association property="hospitalRegisterEntity" javaType="cn.gson.his.model.pojos.InHospital.HospitalRegisterEntity">
            <id property="regId" column="reg_id"></id>
            <result property="regMark" column="reg_mark"></result>
            <result property="regDate" column="reg_date"></result>
            <result property="patientNo" column="patient_no"></result>
            <result property="regName" column="reg_name"></result>
            <result property="depaId" column="depa_id"></result>
            <result property="doctorId" column="doctor_id"></result>
            <result property="doctorName" column="doctor_name"></result>
            <result property="regIs" column="reg_is"></result>
            <result property="diagnoseResult" column="diagnose_result"></result>
        </association>

        <collection property="advice" ofType="cn.gson.his.model.pojos.InHospital.DoctorEnjoinsEntity">
            <id property="ensId" column="ens_id"></id>
            <result property="enId" column="en_id"></result>
            <result property="drugId" column="drug_id"></result>
            <result property="drugName" column="drug_name"></result>
            <result property="drugType" column="drug_type"></result>
            <result property="drugGe" column="drug_ge"></result>
            <result property="drugDw" column="drug_dw"></result>
            <result property="drugYf" column="drug_yf"></result>
            <result property="ensStart" column="ens_start"></result>
            <result property="ensEnd" column="ens_end"></result>
            <result property="drugDosage" column="drug_dosage"></result>
            <result property="ensAmount" column="ens_amount"></result>
            <result property="drugPrice" column="drug_price"></result>
            <result property="ensState" column="ens_state"></result>
            <result property="ensType" column="ens_type"></result>
            <result property="ensCount" column="ens_count"></result>
        </collection>
    </resultMap>

    <select id="lsyzcx" resultMap="EnMap">
        select * from doctor_enjoin e left join doctor_enjoins en on e.en_id = en.en_id
                                      left join employee emp on  e.doctor_id = emp.emp_id

        where e.en_id = #{id}
    </select>

    <resultMap id="yzMap" type="cn.gson.his.model.pojos.InHospital.DoctorEnjoinsEntity">
        <result property="drugId" column="DRUG_ID"></result>
        <result property="drugName" column="DRUG_NAME"></result>
        <result property="drugType" column="DRUG_TYPE"></result>
        <result property="drugGe" column="DRUG_GE"></result>
        <result property="drugDw" column="DRUG_DW"></result>
        <result property="drugPrice" column="DRUG_PRICE"></result>
        <result property="ensCount" column="sl"></result>
    </resultMap>
    <select id="yzcx" resultMap="yzMap">
        select DRUG_ID,sum(ENS_COUNT) sl,DRUG_NAME,DRUG_TYPE,DRUG_PRICE,DRUG_GE,DRUG_DW from doctor_enjoin e left join doctor_enjoins en on e.en_id = en.en_id
                                                                                                          left join employee emp on  e.doctor_id = emp.emp_id
                                                                                                          INNER JOIN HOSPITAL_REGISTER h on h.REG_MARK=e.REG_MARK
        where h.DEPA_ID = #{id} GROUP BY DRUG_ID,DRUG_NAME,DRUG_TYPE,DRUG_PRICE,DRUG_GE,DRUG_DW
    </select>

    <select id="kscx" resultType="cn.gson.his.model.pojos.Power.Department">
        select * from DEPARTMENT
    </select>

    <select id="yflycx" resultMap="yfMap">
        SELECT a.*,e.emp_name e_name,l.library_name lname from PILLS a LEFT JOIN EMPLOYEE e ON a.fyr = e.EMP_ID LEFT JOIN LIBRARY_INFO l on a.LIBRARY_ID=l.LIBRARY_ID
        <where>
            a.fyly_fl=#{fl}
            <if test="nr!=null and nr!=''">
                and PILLS_ID like concat(concat('%',#{nr}),'%')
            </if>
            <if test="qssj!=null and jssj!=null">
                and PILLS_DATE BETWEEN #{qssj} and #{jssj}
            </if>
        </where>
    </select>
</mapper>