<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Drug.YpMapper">

    <resultMap id="ypMap" type="cn.gson.his.model.pojos.Drug.DrugEntity">
        <id column="DRUG_ID" property="drugId"></id>
        <result column="DRUG_NAME" property="drugName"></result>
        <result column="DRUG_GE" property="drugGe"></result>
        <result column="DW" property="dw"></result>
        <result column="YF" property="yf"></result>
        <result column="DRUG_SM" property="drugSm"></result>
        <result column="BZQ" property="bzq"></result>
        <result column="DRUG_PFPRICE" property="drugPfprice"></result>
        <result column="DRUG_PRICE" property="drugPrice"></result>
        <result column="ZDKCS" property="zdkcs"></result>
        <association property="gys" javaType="cn.gson.his.model.pojos.Drug.GysEntity">
            <id column="gys_id" property="gysId"></id>
            <result column="g_name" property="gysName"></result>
        </association>
        <association property="lb" javaType="cn.gson.his.model.pojos.Drug.LbEntity">
            <id column="lb_id" property="lbId"></id>
            <result column="l_name" property="lbName"></result>
            <result column="l_fl" property="lbFl"></result>
        </association>
    </resultMap>

    <select id="selectyp" resultMap="ypMap">
        select d.*,g.gys_name g_name,l.lb_name l_name,l.lb_fl l_fl  from drug d LEFT JOIN GYS g on d.GYS_ID=g.GYS_ID LEFT JOIN Lb l on d.lb_id=l.lb_id
        <where>
            <if test="drugName!=null and drugName!=''">
                and drug_id like '%${drugName}%' or drug_name like '%${drugName}%'
            </if>
        </where>
        order by drug_id desc
    </select>

    <select id="selectgys" resultType="cn.gson.his.model.pojos.Drug.GysEntity">
        select * from gys
    </select>

    <select id="selectlb" resultType="cn.gson.his.model.pojos.Drug.LbEntity">
        select * from lb
    </select>

<!--    <select id="selectxl" resultType="java.lang.Integer">-->
<!--        SELECT LAST_NUMBER+1 FROM USER_SEQUENCES;-->
<!--    </select>-->
</mapper>