<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Power.DeparMapper">
    <!--映射科室-->
    <resultMap id="Depar" type="cn.gson.his.model.pojos.Power.Department">
        <id property="depaId" column="DEPA_ID"></id>
        <result property="depaName" column="DEPA_NAME"></result>
        <result property="depaCreate" column="DEPA_CREATE"></result>
    </resultMap>
    <!--  查询所有科室  -->
    <select id="allDepar" resultMap="Depar">
        select * from DEPARTMENT
    </select>

    <!--映射科室-->
    <resultMap id="DeparMap" type="cn.gson.his.model.pojos.Power.Department">
        <id property="depaId" column="DEPA_ID"></id>
        <result property="depaName" column="DEPA_NAME"></result>
        <result property="depaCreate" column="DEPA_CREATE"></result>
        <result property="depaAddress" column="DEPA_ADDRESS"></result>
        <association property="dept" javaType="cn.gson.his.model.pojos.Power.Dept">
            <id property="deptId" column="dept_id"></id>
            <result property="deptName" column="dept_name"></result>
        </association>
    </resultMap>
    <!--分页查询科室加筛选-->
    <select id="pageDepar" resultMap="DeparMap">
            select * from DEPARTMENT d left join DEPT e on d.DEPA_DEPT=e.DEPT_ID
            <where>
                <if test="depa.depaName!=null and depa.depaName!=''">
                    (d.depa_id like '%${depa.depaName}%' or d.depa_name like '%${depa.depaName}%' or d.depa_address like '%${depa.depaName}%' or e.dept_name like '%${depa.depaName}%')
                </if>
                <if test="startDate!=null and endDate!=null">
                    (d.depa_create between #{startDate} and #{endDate})
                </if>
            </where>
            order by depa_create desc
    </select>
</mapper>