<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Power.DeptMapper">
    <resultMap id="deptMap" type="cn.gson.his.model.pojos.Power.Dept">
        <id property="deptId" column="dept_id"></id>
        <result property="deptName" column="dept_name"></result>
        <result property="deptCreate" column="dept_create"/>
    </resultMap>
    <select id="allDept" resultMap="deptMap">
        select * from dept
        <where>
            <if test="name!=null and name!=''">
                and (dept_id like '%${name}%' or dept_name like '%${name}%' or to_char(DEPT_CREATE,'yyyy-mm-dd HH24:mi:ss:ff') like '%${name}%')
            </if>
            <if test="startDate!=null and endDate!=null">
               and (dept_create between #{startDate} and #{endDate})
            </if>
        </where>
        order by dept_create desc
    </select>
</mapper>