<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Power.EmployeeMapper">
        <resultMap id="EmpMap" type="cn.gson.his.model.pojos.Power.Employee">
            <id property="empId" column="emp_id"></id>
            <result property="empName" column="emp_name"></result>
            <result property="empPhone" column="emp_phone"></result>
            <result property="empCard" column="emp_card"></result>
            <result property="empInduction" column="emp_induction"></result>
            <result property="empDeparture" column="emp_departure"></result>
            <result property="empState" column="emp_state"></result>
            <!--部门-->
            <association property="deptByEmpDept" javaType="cn.gson.his.model.pojos.Power.Dept">
                <id property="deptId" column="dept_id"></id>
                <result property="deptName" column="dept_name"></result>
            </association>
            <!--科室-->
            <association property="departmentByEmpDepar" javaType="cn.gson.his.model.pojos.Power.Department">
                <id property="depaId" column="depa_id"></id>
                <result property="depaName" column="depa_name"></result>
            </association>
            <!--职称-->
            <association property="titles" javaType="cn.gson.his.model.pojos.Power.Title">
                <id property="titId" column="tit_id"></id>
                <result property="titName" column="tit_name"></result>
            </association>
        </resultMap>

        <!--查询住院部的医生-->
        <select id="selDoctor" resultMap="EmpMap">
            select * from employee e left join dept d on e.emp_dept = d.dept_id
            left join department de on e.emp_depar = de.depa_id
            left join title t on e.emp_tit = t.tit_id

            where e.emp_dept = 55  and e.emp_tit = 1 and e.emp_depar = #{depaId}

        </select>
    <!--查询住院部的护士-->
    <select id="selNurse" resultMap="EmpMap">
               SELECT * FROM DEPARTMENT d right JOIN EMPLOYEE e on d.DEPA_ID=e.EMP_DEPAR
                LEFT JOIN SCHE_EMP m on e.EMP_ID=m.EMP_ID
                LEFT JOIN SCHEDU s on m.SCHE_ID=s.SCHE_ID
                LEFT JOIN title t on e.emp_tit = t.tit_id
                WHERE TO_DATE(s.SCHE_DATE,'yyyy/mm/dd')=TO_DATE(TO_CHAR(sysdate,'yyyy/mm/dd'),'yyyy/mm/dd') and e.emp_depar = #{depaId} AND T.TIT_ID = 2

        </select>
    <resultMap id="EmpAll" type="cn.gson.his.model.pojos.Power.Employee">
        <id property="empId" column="emp_id"></id>
        <result property="empName" column="emp_name"></result>
        <result property="empPhone" column="emp_phone"></result>
        <result property="empCard" column="emp_card"></result>
        <result property="empInduction" column="emp_induction"></result>
        <result property="empDeparture" column="emp_departure"></result>
        <result property="empState" column="emp_state"></result>

        <!--用户-->
        <association property="useres" javaType="cn.gson.his.model.pojos.Power.UserInfo">
            <id property="userId" column="USER_ID"/>
            <result property="userAccount" column="USER_ACCOUNT"/>
            <result property="userPass" column="USER_PASS"/>
        </association>
        <!--部门-->
        <association property="deptByEmpDept" javaType="cn.gson.his.model.pojos.Power.Dept">
            <id property="deptId" column="dept_id"></id>
            <result property="deptName" column="dept_name"></result>
        </association>
        <!--科室-->
        <association property="departmentByEmpDepar" javaType="cn.gson.his.model.pojos.Power.Department">
            <id property="depaId" column="depa_id"></id>
            <result property="depaName" column="depa_name"></result>
        </association>
        <!--职称-->
        <association property="titles" javaType="cn.gson.his.model.pojos.Power.Title">
            <id property="titId" column="tit_id"></id>
            <result property="titName" column="tit_name"></result>
        </association>
    </resultMap>

    <select id="allEmp" resultMap="EmpAll">
        select * from employee e left join user_info u on e.emp_id=u.user_emp left join title t on e.EMP_TIT=t.tit_id left join DEPARTMENT a on e.EMP_DEPAR=a.depa_id LEFT JOIN DEPT d on e.EMP_DEPT=d.dept_id
        <where>
            <if test="start!=null and end!=null">
                and (e.EMP_INDUCTION between #{start} and #{end} or e.EMP_DEPARTURE between #{start} and #{end})
            </if>
            <if test="state!=null and state!=''">
                and (e.EMP_STATE=#{state})
            </if>
            <if test="screening!=null and screening!=''">
                and (e.EMP_DEPT in
                <foreach collection="screening" item="p" open="(" index="i" separator="," close=")">
                    #{p}
                </foreach>
                    or e.EMP_DEPAR in
                <foreach collection="screening" item="p" open="(" index="i" separator="," close=")">
                    #{p}
                </foreach>
                    or e.EMP_TIT in
                <foreach collection="screening" item="p" open="(" index="i" separator="," close=")">
                    #{p}
                </foreach>
                    )
            </if>
            <if test="fuzzy!=null and fuzzy!=''">
                and (e.EMP_ID like '%${fuzzy}%' or e.EMP_NAME like '%${fuzzy}%' or e.EMP_PHONE like '%${fuzzy}%' or e.EMP_CARD like '%${fuzzy}%' or to_char(e.EMP_INDUCTION,'yyyy-mm-dd HH24:mi:ss:ff') like '%${fuzzy}%' or to_char(e.EMP_DEPARTURE,'yyyy-mm-dd HH24:mi:ss:ff') like '%${fuzzy}%' or d.DEPT_NAME like '%${fuzzy}%' or a.DEPA_NAME like '%${fuzzy}%' or t.TIT_NAME like '%${fuzzy}%' or u.USER_ACCOUNT like '%${fuzzy}%')
            </if>
        </where>
    </select>


    <update id="quitEmp" parameterType="com.alibaba.fastjson.JSONArray">
        update employee set EMP_STATE=#{state}
        <where>
            EMP_ID in
            <foreach collection="choose" item="p" open="(" index="i" separator="," close=")">
                #{p}
            </foreach>
        </where>
    </update>

    <select id="allEmpRole" resultType="_int">
        SELECT r.ROLE_ID FROM ROLE_INFO r INNER JOIN EMP_ROLE e on r.ROLE_ID=e.ROLE_ID where e.user_id=#{userId}
    </select>

    <resultMap id="Role" type="cn.gson.his.model.pojos.Power.RoleInfo">
        <id column="ROLE_ID" property="roleId"/>
        <result column="ROLE_NAME" property="roleName"/>
        <result column="ROLE_CREATE" property="roleCreate"/>
    </resultMap>
    <select id="allRole" resultMap="Role">
        select * from ROLE_INFO
    </select>

    <select id="childrenRole" resultMap="Role">
        select f.* from ROLE_INFO f where f.role_parent = #{roleId}
    </select>

    <resultMap id="Perm" type="cn.gson.his.model.pojos.Power.Perm">
        <id column="parent_id" property="permId"/>
        <result column="parent_name" property="permName"/>
        <result column="parent_comp" property="permComp"/>
        <result column="parent_url" property="permUrl"/>
        <result column="parent_img" property="permImg"/>
        <result column="parent_state" property="permState"/>
        <result column="parent_level" property="permLevel"/>
        <result column="parent_mata" property="permMata"/>
        <collection property="permByPermParent" ofType="cn.gson.his.model.pojos.Power.Perm">
            <id column="PERM_ID" property="permId"/>
            <result column="PERM_NAME" property="permName"/>
            <result column="PERM_COMP" property="permComp"/>
            <result column="PERM_URL" property="permUrl"/>
            <result column="PERM_IMG" property="permImg"/>
            <result column="PERM_STATE" property="permState"/>
            <result column="PERM_LEVEL" property="permLevel"/>
            <result column="PERM_MATA" property="permMata"/>
        </collection>
    </resultMap>

    <select id="homeMenu" resultMap="Perm">
        SELECT e.perm_id parent_id,e.perm_name parent_name,
               e.perm_comp parent_comp,e.perm_url parent_url,
               e.perm_img parent_img,e.perm_state parent_state,
               e.perm_level parent_level,e.perm_mata parent_mata,p.* FROM PERM p
               INNER JOIN PERM e on p.perm_parent=e.perm_id
               INNER JOIN ROLE_PERM rp on e.perm_id=rp.perm_id
               INNER JOIN EMP_ROLE er on rp.role_id=er.role_id
        where er.user_id=#{userId} and p.perm_state=0
    </select>

    <resultMap id="title" type="cn.gson.his.model.pojos.Power.vo.ScreeningVo">
        <id property="value" column="TIT_ID"/>
        <result property="label" column="TIT_NAME"/>
    </resultMap>

    <resultMap id="dept" type="cn.gson.his.model.pojos.Power.vo.ScreeningVo">
        <id property="value" column="DEPT_ID"/>
        <result property="label" column="DEPT_NAME"/>
    </resultMap>


    <resultMap id="depa" type="cn.gson.his.model.pojos.Power.vo.ScreeningVo">
        <id property="value" column="DEPA_ID"/>
        <result property="label" column="DEPA_NAME"/>
    </resultMap>

    <select id="allTitle" resultMap="title">
        select * from title
    </select>

    <select id="allDept" resultMap="dept">
        select * from dept
    </select>

    <select id="allDepa" resultMap="depa">
        select * from department
    </select>

</mapper>