<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Power.HomeworkMapper">

    <!--<resultMap id="hospital" type="cn.gson.his.model.pojos.Power.vo.echarts">
        <id column="PRICE" property="value"/>
        <result column="PRE_TEXT" property="name"/>
    </resultMap>-->

    <select id="isHostYear" resultType="_int">
        SELECT p.PRES_ID FROM PREPAY_DETAILS p WHERE to_char(p.PRES_DATE,'yyyy')=#{year}
    </select>

    <select id="isOutYear" resultType="_int">
        SELECT p.PAY_NO FROM PAY p WHERE to_char(p.PAY_DATE,'yyyy')=#{year}
    </select>
    <select id="allHospital" resultType="java.util.Map">
        SELECT SUM(DECODE(EXTRACT(MONTH FROM B.PRES_DATE), 1, B.PRES_PRICE, 0)) AS A,

               SUM(DECODE(EXTRACT(MONTH FROM B.PRES_DATE), 2, B.PRES_PRICE, 0)) AS B,

               SUM(DECODE(EXTRACT(MONTH FROM B.PRES_DATE), 3, B.PRES_PRICE, 0)) AS C,

               SUM(DECODE(EXTRACT(MONTH FROM B.PRES_DATE), 4, B.PRES_PRICE, 0)) AS D,

               SUM(DECODE(EXTRACT(MONTH FROM B.PRES_DATE), 5, B.PRES_PRICE, 0)) AS E,

               SUM(DECODE(EXTRACT(MONTH FROM B.PRES_DATE), 6, B.PRES_PRICE, 0)) AS F,

               SUM(DECODE(EXTRACT(MONTH FROM B.PRES_DATE), 7, B.PRES_PRICE, 0)) AS G,

               SUM(DECODE(EXTRACT(MONTH FROM B.PRES_DATE), 8, B.PRES_PRICE, 0)) AS H,

               SUM(DECODE(EXTRACT(MONTH FROM B.PRES_DATE), 9, B.PRES_PRICE, 0)) AS I,

               SUM(DECODE(EXTRACT(MONTH FROM B.PRES_DATE), 10, B.PRES_PRICE, 0)) AS J,

               SUM(DECODE(EXTRACT(MONTH FROM B.PRES_DATE), 11, B.PRES_PRICE, 0)) AS K,

               SUM(DECODE(EXTRACT(MONTH FROM B.PRES_DATE), 12, B.PRES_PRICE, 0)) AS L

        FROM PREPAY_DETAILS B

        WHERE EXTRACT(YEAR FROM B.PRES_DATE) = #{year}

    </select>


    <select id="allOutpatient" resultType="java.util.Map">
        SELECT SUM(DECODE(EXTRACT(MONTH FROM PAY_DATE), 1, PAY_PRICE, 0)) AS A,

               SUM(DECODE(EXTRACT(MONTH FROM PAY_DATE), 2, PAY_PRICE, 0)) AS B,

               SUM(DECODE(EXTRACT(MONTH FROM PAY_DATE), 3, PAY_PRICE, 0)) AS C,

               SUM(DECODE(EXTRACT(MONTH FROM PAY_DATE), 4, PAY_PRICE, 0)) AS D,

               SUM(DECODE(EXTRACT(MONTH FROM PAY_DATE), 5, PAY_PRICE, 0)) AS E,

               SUM(DECODE(EXTRACT(MONTH FROM PAY_DATE), 6, PAY_PRICE, 0)) AS F,

               SUM(DECODE(EXTRACT(MONTH FROM PAY_DATE), 7, PAY_PRICE, 0)) AS G,

               SUM(DECODE(EXTRACT(MONTH FROM PAY_DATE), 8, PAY_PRICE, 0)) AS H,

               SUM(DECODE(EXTRACT(MONTH FROM PAY_DATE), 9, PAY_PRICE, 0)) AS I,

               SUM(DECODE(EXTRACT(MONTH FROM PAY_DATE), 10, PAY_PRICE, 0)) AS J,

               SUM(DECODE(EXTRACT(MONTH FROM PAY_DATE), 11, PAY_PRICE, 0)) AS K,

               SUM(DECODE(EXTRACT(MONTH FROM PAY_DATE), 12, PAY_PRICE, 0)) AS L

        FROM PAY

        WHERE EXTRACT(YEAR FROM PAY_DATE) = #{year}
    </select>
</mapper>