<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Power.RoleMapper">
    <!--映射角色自连接-->
    <resultMap id="selectROle" type="cn.gson.his.model.pojos.Power.RoleInfo">
        <id property="roleId" column="roleid"/>
        <result property="roleName" column="rolename"/>
        <result property="roleCreate" column="ROLE_CREATE"/>
        <association property="roleinfoByRoleParent" javaType="cn.gson.his.model.pojos.Power.RoleInfo">
            <id property="roleId" column="rolesid"/>
            <result property="roleName" column="rolesname"/>
        </association>
    </resultMap>
    <!--查询所有角色自连接-->
    <select id="allRole" resultMap="selectROle">
        select r.role_id roleid,r.role_name rolename,r.role_create,f.role_id rolesid,f.role_name rolesname from role_info r left join role_info f on r.role_parent=f.role_id
        <where>
            <if test="name!=null and name!=''">
                and (r.role_id like '%${name}%' or r.role_name like '%${name}%' or to_char(r.role_create,'yyyy-mm-dd HH24:mi:ss:ff') like '%${name}%' or f.role_name like '%${name}%')
            </if>
            <if test="start!=null and end!=null">
                and (r.role_create between #{start} and #{end})
            </if>
        </where>
        order by r.role_create desc
    </select>

    <!--&lt;!&ndash;部门、角色多对多映射&ndash;&gt;
    <resultMap id="RoleDept" type="cn.gson.his.model.pojos.Power.Dept">
        <id property="deptId" column="DEPT_ID"/>
        <result property="deptName" column="DEPT_NAME"/>
        <collection property="roleDepts" ofType="cn.gson.his.model.pojos.Power.RoleInfo">
            <id property="roleId" column="ROLE_ID"/>
        </collection>
    </resultMap>
    &lt;!&ndash;角色、部门多对多查询&ndash;&gt;
    <select id="allRoleDept" resultMap="RoleDept">
        select * from dept d left join role_dept r on d.dept_id=r.dept_id LEFT JOIN ROLE_INFO e on r.role_id=e.role_id where r.role_id=#{id}
    </select>-->

    <!--角色映射-->
    <resultMap id="selectRoleMy" type="cn.gson.his.model.pojos.Power.RoleInfo">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
    </resultMap>
    <!--查询所有角色-->
    <select id="allRoleMy" resultMap="selectRoleMy">
        select * from role_info
    </select>

    <!--查询序列-->
    <select id="allSeq" resultType="java.lang.Integer">
        select seq.nextval from dual
    </select>

    <!--新增角色-->
    <insert id="addRole">
        insert into role_info values(#{roleid},#{name},#{create},#{id})
    </insert>

    <!--新增角色-->
    <insert id="addRolenoParent">
        insert into role_info(role_id,role_name,role_create<if test="roleinfoByRoleParent.roleId!=null">,role_parent</if>) values(seq.nextval,#{roleName},#{roleCreate}<if test="roleinfoByRoleParent.roleId!=null">,#{roleinfoByRoleParent.roleId}</if>)
    </insert>

    <!--批量新增部门、角色中间表-->
    <!--<insert id="addRoleDept" parameterType="java.util.List">
        INSERT all INTO role_dept(role_id,dept_id)
        <foreach collection="list" item="RoleDeptPK" index="i" separator=" ">
            <if test="i != list.size()-1">
                INTO role_dept(role_id,dept_id) VALUES(#{RoleDeptPK.roleId},#{RoleDeptPK.deptId})
            </if>
            <if test="i == list.size()-1">
                select #{RoleDeptPK.roleId},#{RoleDeptPK.deptId} from dual
            </if>
        </foreach>
    </insert>-->

    <!--批量删除角色-->
    <delete id="delRole" parameterType="com.alibaba.fastjson.JSONArray">
        delete from ROLE_INFO
        <where>
            ROLE_ID in
            <foreach collection="choose" item="p" open="(" index="i" separator="," close=")">
                #{p}
            </foreach>
        </where>
    </delete>

    <delete id="delEmpRole" parameterType="com.alibaba.fastjson.JSONArray">
        delete from EMP_ROLE
        <where>
            ROLE_ID in
            <foreach collection="choose" item="p" open="(" index="i" separator="," close=")">
                #{p}
            </foreach>
        </where>
    </delete>

    <delete id="delRolePerm" parameterType="com.alibaba.fastjson.JSONArray">
        delete from ROLE_PERM
        <where>
            ROLE_ID in
            <foreach collection="choose" item="p" open="(" index="i" separator="," close=")">
                #{p}
            </foreach>
        </where>
    </delete>


    <!--修改角色-->
    <update id="updateRole">
        update role_info set role_name=#{roleName},role_parent=<if test="roleinfoByRoleParent==null">null</if><if test="roleinfoByRoleParent!=null">#{roleinfoByRoleParent.roleId}</if> where role_id=#{roleId}
    </update>

    <!--根据角色id删除部门、角色中间表-->
    <!--<delete id="delRoleDept">
        delete from role_dept where role_id=#{roleId}
    </delete>-->

    <!--根据角色id查询角色、权限中间表的权限id-->
    <select id="allRoleIdPermId" resultType="_int">
        select p.PERM_ID from PERM p inner join ROLE_PERM r on p.PERM_ID=r.PERM_ID where r.ROLE_ID=#{roleId} and p.PERM_PARENT is not null
    </select>

    <resultMap id="Perm" type="cn.gson.his.model.pojos.Power.Perm">
        <id column="PERM_ID" property="permId"/>
        <result column="PERM_NAME" property="permName"/>
        <result column="PERM_COMP" property="permComp"/>
        <result column="PERM_URL" property="permUrl"/>
        <result column="PERM_IMG" property="permImg"/>
        <result column="PERM_STATE" property="permState"/>
        <result column="PERM_LEVEL" property="permLevel"/>
        <result column="PERM_MATA" property="permMata"/>
    </resultMap>
    <select id="allPerm" resultMap="Perm">
        select f.* from PERM f where f.PERM_PARENT is null
    </select>

    <select id="childrenFuns" resultMap="Perm">
        select f.* from PERM f where f.PERM_PARENT = #{parentId}
    </select>
</mapper>