<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Power.ScheduMapper">
    <!--<select id="allDeptId" resultType="java.lang.Integer">
        select dept_id from dept where dept_name=#{name}
    </select>-->

    <!--映射科室-->
    <!--<resultMap id="depa" type="cn.gson.his.model.pojos.Power.Department">
        <id property="depaId" column="DEPA_ID"></id>
        <result property="depaName" column="DEPA_NAME"></result>
        <result property="depaCreate" column="DEPA_CREATE"></result>
    </resultMap>
    <select id="deptIdDepa" resultMap="depa">
        select * from DEPARTMENT where DEPA_DEPT=#{id}
    </select>

    &lt;!&ndash;映射职称&ndash;&gt;
    <resultMap id="Tit" type="cn.gson.his.model.pojos.Power.Title">
        <id property="titId" column="TIT_ID"/>
        <result property="titName" column="TIT_NAME"/>
    </resultMap>
    <select id="deptIdTit" resultMap="Tit">
        select * from TITLE where TIT_DEPT=#{id}
    </select>

    <resultMap id="EmpMap" type="cn.gson.his.model.pojos.Power.Employee">
        <id property="empId" column="emp_id"></id>
        <result property="empName" column="emp_name"></result>
        <result property="empPhone" column="emp_phone"></result>
        <result property="empCard" column="emp_card"></result>
        <result property="empInduction" column="emp_induction"></result>
        <result property="empDeparture" column="emp_departure"></result>
        <result property="empState" column="emp_state"></result>
        &lt;!&ndash;部门&ndash;&gt;
        <association property="deptByEmpDept" javaType="cn.gson.his.model.pojos.Power.Dept">
            <id property="deptId" column="dept_id"></id>
            <result property="deptName" column="dept_name"></result>
        </association>
        &lt;!&ndash;科室&ndash;&gt;
        <association property="departmentByEmpDepar" javaType="cn.gson.his.model.pojos.Power.Department">
            <id property="depaId" column="depa_id"></id>
            <result property="depaName" column="depa_name"></result>
        </association>
        &lt;!&ndash;职称&ndash;&gt;
        <association property="titles" javaType="cn.gson.his.model.pojos.Power.Title">
            <id property="titId" column="tit_id"></id>
            <result property="titName" column="tit_name"></result>
        </association>
    </resultMap>
    <select id="depaIdByEmp" resultMap="EmpMap">
        SELECT * FROM EMPLOYEE e left join title t on e.emp_tit = t.tit_id where e.EMP_DEPT=#{dept} and e.EMP_DEPAR=#{depa}
    </select>-->

    <resultMap id="Shift" type="cn.gson.his.model.pojos.Power.Shift">
        <id property="shiId" column="SHI_ID"/>
        <result property="shiName" column="SHI_NAME"/>
        <result property="startTime" column="START_TIME"/>
        <result property="stopTime" column="STOP_TIME"/>
    </resultMap>

    <select id="allShiftById" resultMap="Shift">
        select * from shift where shi_type=#{typeId}
    </select>

    <!--查询本周星期-->
    <resultMap id="scheEmp" type="cn.gson.his.model.pojos.Power.Schedu">
        <id property="scheId" column="SCHE_ID"/>
        <result property="scheDate" column="SCHE_DATE"/>
        <result property="scheWeek" column="SCHE_WEEK"/>
        <!--查询本周星期一下的员工组-->
        <collection property="scheEmps" ofType="cn.gson.his.model.pojos.Power.ScheEmp">
            <id property="sempId" column="SEMP_ID"/>
            <!--员工-->
            <association property="emp" javaType="cn.gson.his.model.pojos.Power.Employee">
                <id property="empId" column="EMP_ID"/>
                <result property="empName" column="EMP_NAME"/>
                <result property="empPhone" column="EMP_PHONE"/>
                <result property="empCard" column="EMP_CARD"/>
                <!--部门-->
                <association property="deptByEmpDept" javaType="cn.gson.his.model.pojos.Power.Dept">
                    <id property="deptId" column="DEPT_ID"/>
                    <result property="deptName" column="DEPT_NAME"/>
                </association>
                <!--科室-->
                <association property="departmentByEmpDepar" javaType="cn.gson.his.model.pojos.Power.Department">
                    <id property="depaId" column="DEPA_ID"/>
                    <result property="depaName" column="DEPA_NAME"/>
                </association>
                <!--职称-->
                <association property="titles" javaType="cn.gson.his.model.pojos.Power.Title">
                    <id property="titId" column="TIT_ID"/>
                    <result property="titName" column="TIT_NAME"/>
                </association>
            </association>
            <!--班次-->
            <association property="shift" javaType="cn.gson.his.model.pojos.Power.Shift">
                <id property="shiId" column="SHI_ID"/>
                <result property="shiName" column="SHI_NAME"/>
                <result property="startTime" column="START_TIME"/>
                <result property="stopTime" column="STOP_TIME"/>
            </association>
        </collection>
    </resultMap>
    <select id="allScheEmp" resultMap="scheEmp">
        SELECT * FROM SCHEDU s
        LEFT JOIN SCHE_EMP c on  s.SCHE_ID=c.SCHE_ID
        LEFT JOIN SHIFT h on c.SHI_ID=h.SHI_ID
        LEFT JOIN EMPLOYEE e on c.EMP_ID=e.EMP_ID
        LEFT JOIN DEPT d on e.EMP_DEPT=d.DEPT_ID
        LEFT JOIN DEPARTMENT p on e.EMP_DEPAR=p.DEPA_ID
        LEFT JOIN TITLE t on e.EMP_TIT=t.TIT_ID
        WHERE TO_DATE(s.SCHE_DATE, 'yyyy-mm-dd') >= TRUNC(NEXT_DAY(SYSDATE-8,1)+(1+#{date}))
        AND TO_DATE(s.SCHE_DATE, 'yyyy-mm-dd') &lt; TRUNC(NEXT_DAY(SYSDATE-8,1)+(7+#{date}))+1
        ORDER BY TO_DATE(s.SCHE_DATE, 'yyyy-mm-dd')
    </select>


    <select id="allScheByempId" resultType="_int">
        SELECT e.emp_id FROM EMPLOYEE e INNER JOIN SCHE_EMP c on e.EMP_ID=c.EMP_ID WHERE e.EMP_DEPT=#{deptId} and e.EMP_DEPAR=#{deparId} and c.SCHE_ID=#{scheId} and c.SHI_ID=#{shiId}
    </select>

    <insert id="addScheEmp" parameterType="java.util.List">
        insert into sche_emp(SEMP_ID, EMP_ID, SHI_ID,SCHE_ID)
        select seq.nextval, EMP_ID, SHI_ID,SCHE_ID from
        <foreach collection="scheEmps" item="p" index="i" separator=" " open="(" close=")">
            <if test="i != scheEmps.size()-1">
                select #{p.emp.empId} as EMP_ID , #{p.shift.shiId} as SHI_ID,#{p.scheduByScheId.scheId} as SCHE_ID from dual
                union
            </if>
            <if test="i == scheEmps.size()-1">
                select #{p.emp.empId} as EMP_ID , #{p.shift.shiId} as SHI_ID,#{p.scheduByScheId.scheId} as SCHE_ID from dual
            </if>
        </foreach>
    </insert>

    <delete id="delScheEmp">
        DELETE FROM SCHE_EMP s WHERE  s.EMP_ID in(SELECT e.EMP_ID FROM EMPLOYEE e WHERE e.EMP_DEPAR=#{deparId}) and s.SHI_ID=#{shiId} and s.SCHE_ID=#{scheId}
    </delete>

    <insert id="addSchedu" parameterType="java.util.List">
        insert into schedu(SCHE_ID, SCHE_DATE, SCHE_WEEK)
        select seq.nextval, SCHE_DATE, SCHE_WEEK from
        <foreach collection="list" item="p" index="i" separator=" " open="(" close=")">
            <if test="i != list.size()-1">
                select #{p.scheDate} as SCHE_DATE , #{p.scheWeek} as SCHE_WEEK from dual
                union
            </if>
            <if test="i == list.size()-1">
                select #{p.scheDate} as SCHE_DATE , #{p.scheWeek} as SCHE_WEEK from dual
            </if>
        </foreach>
    </insert>

    <resultMap id="dept" type="cn.gson.his.model.pojos.Power.Dept">
        <id column="DEPT_ID" property="deptId"/>
        <result column="DEPT_NAME" property="deptName"/>
    </resultMap>

    <select id="getdepts" resultMap="dept">
        select * from dept
    </select>

    <resultMap id="depa" type="cn.gson.his.model.pojos.Power.Department">
        <id column="DEPA_ID" property="depaId"/>
        <result column="DEPA_NAME" property="depaName"/>
    </resultMap>

    <select id="getdepar" resultMap="depa">
        select * from department where depa_dept=#{deptId}
    </select>

    <select id="allEmpById" resultType="_int">
        SELECT EMP_ID FROM EMPLOYEE
            <where>
                EMP_ID in
                    <foreach collection="funs" item="p" index="i" separator="," open="(" close=")">
                        #{p}
                    </foreach>
            </where>
    </select>

</mapper>