<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.Power.UserMapper">

    <!--映射用户、员工、部门、科室、职称、排班-->
    <resultMap id="UserEmp" type="cn.gson.his.model.pojos.Power.UserInfo">
        <id property="userId" column="USER_ID"/>
        <result property="userAccount" column="USER_ACCOUNT"/>
        <result property="userPass" column="USER_PASS"/>
        <association property="employeeByUserEmp" javaType="cn.gson.his.model.pojos.Power.Employee">
            <id property="empId" column="EMP_ID"/>
            <result property="empName" column="EMP_NAME"/>
            <result property="empPhone" column="EMP_PHONE"/>
            <result property="empCard" column="EMP_CARD"/>
            <association property="deptByEmpDept" javaType="cn.gson.his.model.pojos.Power.Dept">
                <id property="deptId" column="DEPT_ID"/>
                <result property="deptName" column="DEPT_NAME"/>
            </association>
            <association property="departmentByEmpDepar" javaType="cn.gson.his.model.pojos.Power.Department">
                <id property="depaId" column="DEPA_ID"/>
                <result property="depaName" column="DEPA_NAME"/>
            </association>
            <association property="titles" javaType="cn.gson.his.model.pojos.Power.Title">
                <id property="titId" column="TIT_ID"/>
                <result property="titName" column="TIT_NAME"/>
            </association>
            <collection property="schedus" ofType="cn.gson.his.model.pojos.Power.ScheEmp">
                <id property="sempId" column="SEMP_ID"/>
                <association property="shift" javaType="cn.gson.his.model.pojos.Power.Shift">
                    <id property="shiId" column="SHI_ID"/>
                    <result property="shiName" column="SHI_NAME"/>
                    <result property="startTime" column="START_TIME"/>
                    <result property="stopTime" column="STOP_TIME"/>
                </association>
                <association property="scheduByScheId" javaType="cn.gson.his.model.pojos.Power.Schedu">
                    <id property="scheId" column="SCHE_ID"/>
                    <result property="scheDate" column="SCHE_DATE"/>
                    <result property="scheWeek" column="SCHE_WEEK"/>
                </association>
            </collection>
        </association>
    </resultMap>
    <!--登录-->
    <select id="Login" resultMap="UserEmp">
        select * from USER_INFO u
                          LEFT JOIN EMPLOYEE e on u.USER_EMP=e.EMP_ID
                          LEFT JOIN DEPT d on e.EMP_DEPT=d.DEPT_ID
                          LEFT JOIN DEPARTMENT a on e.EMP_DEPAR=a.DEPA_ID
                          LEFT JOIN TITLE t on e.EMP_TIT=t.TIT_ID
                          LEFT JOIN SCHE_EMP s on s.EMP_ID=e.EMP_ID
                          LEFT JOIN SHIFT h on s.SHI_ID=h.SHI_ID
                          LEFT JOIN SCHEDU c on s.SCHE_ID=c.SCHE_ID
        where  u.USER_ACCOUNT=#{userAccount}
        and u.USER_PASS=#{userPass}
    </select>

    <update id="resetUser" parameterType="com.alibaba.fastjson.JSONArray">
        update user_info set user_pass=#{s}
        <where>
            user_emp in
            <foreach collection="choose" item="p" open="(" index="i" separator="," close=")">
                #{p}
            </foreach>
        </where>
    </update>

    <resultMap id="IsAcc" type="cn.gson.his.model.pojos.Power.UserInfo">
        <id property="userId" column="USER_ID"/>
        <result property="userAccount" column="USER_ACCOUNT"/>
    </resultMap>

    <select id="userAccountIs" resultMap="IsAcc">
        select * from user_info where user_account=#{userAccount}
    </select>
</mapper>