<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.his.model.mappers.hzc.HospitalRegisterMapper">
    <resultMap id="HopRegMap" type="cn.gson.his.model.pojos.hzc.HospitalRegisterEntity">
        <id property="regId" column="reg_id"></id>
        <result property="regMark" column="reg_mark"></result>
        <result property="regDate" column="reg_date"></result>
        <result property="patientNo" column="patient_no"></result>
        <result property="regName" column="reg_name"></result>
        <result property="depaId" column="depa_id"></result>
        <result property="doctorId" column="doctor_id"></result>
        <result property="doctorName" column="doctor_name"></result>
        <result property="regIs" column="reg_is"></result>
    </resultMap>

    <!--新增住院登记-->
    <insert id="insertReg">
        insert into hospital_register values(seq.nextval,#{regMark},current_timestamp ,#{patientNo},#{regName},#{depaId},#{doctorId},#{doctorName},0)
    </insert>

    <!--查询所有住院登记-->
    <select id="selReg" resultMap="HopRegMap">
        select * from hospital_register h left join patientdata p on h.patient_no = p.patient_no
        left join department d on h.depa_id = d.depa_id




    </select>

</mapper>